@import '../abstract/variables';

 .pageheader {
    margin-bottom: 2rem;

    &__title {
      line-height: 1.2;
      font-size: $font-size-medium;
      color: $color-primary;

      @media all and (min-width: 768px) {
        // font-size: $font-size-extra-large;
        font-size: 3rem;
      }
    }
    &__subtitle{
      color: $color-ash;
      font-size: 1.4rem;
    }
  }

  .border-bottom{
    border-bottom: 1px solid #f9f9f9 !important;
  }

  .border-top{
    border-top: 1px solid #f9f9f9 !important;
  }

  .border{
    border: 1px solid rgb(0 0 0 / .1) !important;
  }

  .radius{
    border-radius: 1rem;
  }