@import '../../../styles/abstract/variables';
// @import url("https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css");

.lh20{
  line-height: 20px;
}
.policy{
  margin-top: 8rem;

  &_content{
    padding: 4rem 0;
  }

  * {
    line-height: 20px;
  }

  p{
    margin-bottom: 1.2rem;
    font-size: 1.45rem;
  } 
  ul{
    padding: 0 3.5rem;
  }
}