<div>
  <div class="page__header">
    <h4 class="page__header__main">
      Bank Account
    </h4>
    <p class="page__header__caption">
      Add a new bank account
    </p>
  </div>
  <div class="page__content">
    <div class="addbank">
      <div class="account__form">
        <form [formGroup]="addBankAccountForm" (ngSubmit)="addBankAccountHandler(addBankAccountForm.value)">
          <div class="p-fluid">
            <div class="p-field form__item">
              <label for="bankname" class="form__label text--capital">bank name</label>
              <!-- <input type="text" id="bankname" class="form__input form__input--lg"> -->
              <p-dropdown placeholder="Select bank" styleClass="bank-dropdown" [options]="banks"
                optionLabel="name" name="bank_code" formControlName="bank_code"></p-dropdown>
              <ng-container
                *ngIf="(formControls.bank_code.dirty || formControls.bank_code.touched) && formControls.bank_code.errors">
                <span *ngIf="formControls.bank_code.errors.required" class="p-invalid p-mb-2 p-d-block p-px-2">Select
                  Bank</span>
              </ng-container>
            </div>
            <div class="p-field form__item">
              <label for="accountnumber" class="form__label text--capital">account number</label>
              <input type="text" class="form__input form__input--lg" formControlName="account_number" pKeyFilter="num">
              <ng-container
                *ngIf="(formControls.account_number.dirty || formControls.account_number.touched) && formControls.account_number.errors">
                <span *ngIf="formControls.account_number.errors.required"
                  class="p-invalid p-mb-2 p-d-block p-px-2">Enter account number</span>
              </ng-container>
            </div>
              <ng-container *ngIf="addBankAccountForm.errors && addBankAccountForm.errors.badRequest">
                <div class="p-field form__item">
                <span class="p-invalid p-my-2 p-d-block">
                  {{addBankAccountForm.errors.badRequest}}
                </span>
              </div>
              </ng-container>
            <div class="p-field form__item">
              <button [disabled]="loading || addBankAccountForm.invalid" type="submit"
                class="button button--secondary button--raised text--upper">
                <i *ngIf="loading" class="pi pi-spin pi-spinner p-mr-2"></i>
                {{loading ? 'saving' : 'add bank account'}}
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
