<app-topnav (closeBannerEmitter)="closeBanner($event)"></app-topnav>
<div style="margin-bottom: 5rem;" class="buba-bid" [ngStyle]="{'margin-top': noBanner ? '8rem' : '14rem'}">
  <div class="p-grid">
    <div class="p-col-12 p-sm-10 p-md-8 p-lg-6 p-mx-auto">
      <div class="card">
        <app-winning-marquee></app-winning-marquee>
        <div class="card__body">
          <div>
            <div class="stepper">
              <div class="stepper-indicator"
                [ngClass]="{'stepper-indicator--completed': (currentPage$ | async)  > 1, 'stepper-indicator--current': (currentPage$ | async)  === 1}">
                <i class="pi pi-check"></i>
                <span>1</span>
              </div>
              <span class="stepper-spacer" [ngClass]="{'stepper-spacer--completed': (currentPage$ | async)  > 1}">

              </span>
              <div class="stepper-indicator"
                [ngClass]="{'stepper-indicator--completed': (currentPage$ | async)  > 2, 'stepper-indicator--current': (currentPage$ | async)  === 2}">
                <i class="pi pi-check"></i>
                <span>2</span>
              </div>
              <span class="stepper-spacer" [ngClass]="{'stepper-spacer--completed': (currentPage$ | async)  > 2}">

              </span>
              <div class="stepper-indicator"
                [ngClass]="{'stepper-indicator--completed': (currentPage$ | async)  > 3, 'stepper-indicator--current': (currentPage$ | async)  === 3}">
                <i class="pi pi-check"></i>
                <span>3</span>
              </div>
              <span class="stepper-spacer" [ngClass]="{'stepper-spacer--completed': (currentPage$ | async)  > 3}">

              </span>
              <div class="stepper-indicator"
                [ngClass]="{'stepper-indicator--completed': (currentPage$ | async)  > 4, 'stepper-indicator--current': (currentPage$ | async)  === 4}">
                <i class="pi pi-check"></i>
                <span>4</span>
              </div>
              <span class="stepper-spacer" [ngClass]="{'stepper-spacer--completed': (currentPage$ | async)  > 4}">

              </span>
              <div class="stepper-indicator"
                [ngClass]="{'stepper-indicator--completed': (currentPage$ | async)  === 5}">
                <i class="pi pi-check"></i>
                <span>5</span>
              </div>
            </div>
            <ng-container *ngIf="fetchBidErrors; else noError">
              <div class="text--center error">
                <div class="error__item">
                  <p class="text--capital error__item--text">Sorry, Bid {{fetchBidErrors}}</p>
                  <a href="http://buba.ng" role="button" class="button button--secondary error__item--link">back to
                    store</a>
                </div>
              </div>
            </ng-container>
            <ng-template #noError>
              <div class="stepper-content">
                <div [ngSwitch]="(currentPage$ | async)">
                  <div class="w-100">
                    <ng-container *ngSwitchCase="1">
                      <app-stepper-one [boughtTickets]="boughtTickets" [productName]="productName" [buyTicket]="buyTicket" [animation]="animation" [bidInfo]="bidInfo" [error]="fetchBidErrors">
                      </app-stepper-one>
                    </ng-container>
                    <ng-container *ngSwitchCase="2">
                      <app-stepper-two [gameType]="gameType" [animation]="animation" (goBackEmitter)="handleGoback($event)"
                        [bidDetails]="(bidDetails$ | async)" (loginEmitter)="logUserIn($event)"></app-stepper-two>
                    </ng-container>
                    <ng-container *ngSwitchCase="3">
                      <app-stepper-three [gameType]="gameType" [accountDetails]="(accountDetails$ | async)"
                        (stepThreeEmitter)="handleGoback($event)" [bidDetails]="(bidDetails$ | async)"
                        [animation]="animation"></app-stepper-three>
                    </ng-container>
                    <ng-container *ngSwitchCase="4">
                      <app-stepper-four [productName]="productName" [buyTicket]="buyTicket" [gameType]="gameType" [ticketDetails]="(ticketDetails$ | async)" [bidDetails]="(bidDetails$ | async)" (stepFourEmitter)="handleGoback($event)"
                        [accountDetails]="(accountDetails$ | async)" [animation]="animation"></app-stepper-four>
                    </ng-container>
                    <ng-container *ngSwitchCase="5">
                      <app-stepper-five [successObj]="(successObject$ | async)" [animation]="animation"></app-stepper-five>
                    </ng-container>
                  </div>
                </div>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
