@import '../../../../styles/abstract/variables';

.topnav {
  color: $color-primary;
  background-color: $color-white;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1015;
  // box-shadow: 0 4px 4px -4px rgba(0,0,0,0.12);
  box-shadow: 0 0 4px rgba(0, 0, 0, .25);

  &.colored {
    background-color: $color-primary;
  }

  .hamburger {
    display: inline-block;
    cursor: pointer;
    transform: scale(.85);
    margin-right: .75rem;

    &__bar {
      width: 30px;
      height: 5px;
      // background-color: $color-grey;
      background-color: $color-primary;
      border-radius: 5px;
      margin: 4px 0;
      transition: 0.4s;
    }

    &.active {

      .hamburger__bar__top {
        -webkit-transform: rotate(-45deg) translate(-9px, 5px);
        transform: rotate(-45deg) translate(-9px, 5px);
      }

      .hamburger__bar__middle {

        opacity: 0;
      }

      .hamburger__bar__bottom {
        -webkit-transform: rotate(45deg) translate(-7px, -4px);
        transform: rotate(45deg) translate(-7px, -4px);
      }
    }
  }


  .top-banner {
    height: 6rem;
    background-color: $color-primary;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 3rem;
    margin-left: auto;
    margin-right: auto;

    &.slideUp {
      transform: translateY(-100%);
      // margin-bottom: 50px;
      transition: all .1s ease-in-out;
    }

    .close-banner {
      position: absolute;
      right: 1rem;
      top: 0;
      /* transform: translate(50%); */
      transform: translateY(50%);
    }

    img {
      width: 100%;
      height: 100%;
      max-height: 6rem;
    }
  }

  &__container {
    height: 8rem;
    background-color: $color-white;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 1rem;
    margin-left: auto;
    margin-right: auto;





    // @media (min-width: 576px){
    //     width: 540px;
    // }

    @media (min-width: 768px) {
      width: 720px
    }

    @media (min-width: 992px) {
      width: 95%;
    }

    @media (min-width: 1200px) {
      width: 1140px;
    }
  }

  &__item {
    display: flex;
    align-items: center;

    .nav_btn {
      .p-button-icon {
        font-size: $font-size-regular !important;
      }
    }

    @media all and (min-width: 768px) {
      // margin-left: 2rem;
    }

    &:first-child {
      margin-left: 0;
    }



    &__button {
      text-decoration: none;
      display: flex;
      align-items: center;
      padding: .6rem;
      font-weight: normal;
      color: $color-white;
      background-color: $color-secondary;
      border-radius: .35rem;
      border: .1rem solid inherit;
      transition: all .3s ease-in-out;

      &__text {
        display: inline-block;
        font-size: $font-size-regular-alt;
        position: relative;
        transition: all .3s ease-in-out;

        &::after {
          content: '\2192';
          position: absolute;
          opacity: 0;
          top: 0;
          right: 0;
          transition: all .3s ease-in-out;
        }
      }

      &:hover {
        .topnav__item__button__text {
          padding-right: 2rem;

          &::after {
            opacity: 1;
            right: 0;
          }
        }
      }
    }

  }

  &__brand {
    margin-right: 2rem;
  }

  &__menu {
    list-style: none;
    display: none;

    @media all and (min-width: 768px) {
      display: inline-flex;
    }

    &_link {
      font-size: $font-size-regular-alt;
      line-height: 16px;
      // padding: 2rem;
      padding: 1rem;
      margin: 1rem;
      text-decoration: none;
      // color: #000000;
      font-weight: 600;
      color: $color-primary;
      text-transform: capitalize;
      position: relative;

      background: linear-gradient(currentColor 0 0) bottom /var(--d, 0) 3px no-repeat;
      transition: 0.15s;

      &:hover {
        --d: 50%;
      }

      &.active-menu {
        background: $color-white;
        color: $color-primary;
        border: 1px solid $color-primary;
      }
    }

    // &_item {

    // }
  }

  &__left {
    display: flex;
    align-items: center;
  }

  &__search{
    .search_wrapper{
      display: flex;
      align-items: stretch;

      input{
        min-width: 23rem;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }

      button{
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        // margin-left: -0.5rem;
      }
    }
  }

  &_right {
    margin-left: auto;
    display: flex;
    align-items: center;
    // flex-direction: column;

    @media all and (min-width: 768px) {
      flex-direction: row;
      align-items: center;
    }

    .black {
      color: #000000;
    }

  }


  .user {
    display: flex;
    align-items: center;

    &__info {
      display: flex;
      flex-direction: column;
      margin: 0 1rem;
      font-size: 1.25rem;
      text-transform: capitalize;
    }

    i {
      font-size: $font-size-regular-alt;
    }

    &__name {
      font-size: $font-size-medium;
    }

    &__balance {
      font-weight: bold;
      // display: flex;
      // align-items: center;
      font-size: $font-size-regular;

      &__refresh {
        cursor: pointer;
      }

      &__add {
        cursor: pointer;
        user-select: none;
        pointer-events: none;
      }
    }

    &__avi {
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 100%;
      overflow: hidden;

      @media all and (min-width: 768px) {
        width: 4.5rem;
        height: 4.5rem;
        margin-right: 1rem;
      }

      &__image {
        display: block;
        border-radius: 50%;
        object-fit: cover;
        object-position: center;
        margin-right: .8rem;
        width: 100%;
        height: 100%;


      }
    }
  }

  .dropdown {
    // float: left;
    // overflow: hidden;
    display: inline-block;
    position: relative;
    z-index: 999;
    outline: none;
    font-size: 14px;
    padding: 0 8px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;

    &:hover {
      .dropdown-content {
        display: block;
      }
    }

    &-btn {
      display: flex;
      align-items: center;
    }

    &-content {
      // display: none;
      // position: absolute;
      // // transform: translateX(-6rem);
      // background-color: #f9f9f9;
      // min-width: 130px;
      // right: -8px;
      // color: #000;
      // font-size: 12px;
      // // box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      // // z-index: 1;
      position: absolute;
      right: -8px;
      width: 126px;
      background: #fff;
      color: #000;
      font-size: 12px;
      border: none;
      padding: 0;
      display: none;
      -webkit-box-shadow: 0 0 5px 0 rgb(0 0 0 / 20%);
      box-shadow: 0 0 5px 0 rgb(0 0 0 / 20%);
      list-style: none;


      &.show {
        display: block;
      }
    }

    &-item {
      float: none;
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: flex;
      align-items: center;
      text-align: left;

      &.active {
        background-color: $color-primary;
        color: $color-white;

        &:hover {
          color: $color-white !important;
        }
      }

      &:hover {
        color: $color-primary;
      }

      &.logout {
        color: $color-danger;
        border-top: 1px solid #f2f3f5;
      }
    }

    &-user {
      display: flex;
      line-height: 35px;
      align-items: center;

      span {
        font-size: $font-size-regular-alt;
      }
    }
  }
}
