<div class="topnav">
    <nav class="topnav__container">
        <div class="topnav__left">
            <div class="topnav__item">
                <!-- <a href="" class="logo topnav__item__link topnav__item__logo">
                    <img src="assets/img/logo-red.png" alt="" srcset="">
                  </a> -->
               </div>
           <div class="topnav__item">
            <a href="" class="logo topnav__item__link topnav__item__logo">
                <img src="assets/img/logo-red.png" alt="" srcset="">
              </a>
           </div>
        </div>
        <div class="topnav_right">
          <ng-container *ngIf="(userDetails$ | async) as userDetails">
          <div class="topnav__item">
            <div class="user">
                <span class="user__name">{{userDetails.firstname}}&nbsp;{{userDetails.lastname}}</span>
                <span class="user__balance">{{userDetails.balance | currency : '₦ '}}
                  <i (click)="refreshWallet()" class="pi pi-refresh user__balance__refresh" [ngClass]="{'pi-spin': processing}"></i>
                </span>
              </div>
          </div>
          </ng-container>
          <div class="topnav__item" *ngIf="showGoToStoreButton">
            <a [routerLink]="['/']" class="topnav__item__button">
              <span class="topnav__item__button__text">Back to store</span>
            </a>
          </div>
        </div>
      </nav>
</div>

