/////////////////////colours//////////////////

// $color-primary:#258903;
// $color-primary: #d62828;
$color-primary: #03027f;
$color-secondary:#ff9923;
$color-tertiary: #ed326b;
$color-grey:#4F4F4F;
$color-black:#5A5A5A;
$color-ash:#AEAEB3;
$color-white:#ffffff;
$color-off-white:#D8D8D8;
$color-off-black:#f7f7f7;
$color-deep-black:#424B5F;
$color-blue: #2196f3;
$color-danger:#ff4d4f;
$color-green:#6FCF97;
$color-yellow: #fcc22f;
$light-background: #fcfdff;
$app-background: #ddd;
$rotation: '0deg';

/////////////////////////font size////////////////////////////

$font-size-extra-large: 3.2rem;
$font-size-large: 2.2rem;
$font-size-medium:1.6rem;
$font-size-regular:1.2rem;
$font-size-regular-alt:1.4rem;
$font-size-semi-small: 1.0rem;
$font-size-small: 0.9rem;
$font-size-tiny:0.7rem;


