<div class="account p-grid">
  <div class="p-col-12 p-sm-9 p-md-10 p-lg-6 p-mx-auto account__container">
    <div class="account__head">
      <a href="" class="account__head__logo">
        <img src="assets/img/buba-secondary.png" alt="buba">
      </a>
      <h1 class="account__head__title">Create your account</h1>
    </div>
    <div class="account__body">
      <div class="account__form">
        <form  (ngSubmit)="register(registerForm.value)" [formGroup]="registerForm">
          <ng-container *ngIf="registerForm.errors">
            <span *ngIf="registerForm.errors.badRequest"
              class="p-invalid p-my-2 p-d-block p-text-center text--semi-small">
              {{registerForm.errors.badRequest}}
            </span>
            <span *ngIf="registerForm.errors.unAuthorized"
              class="p-invalid p-my-2 p-d-block p-text-center text--semi-small">
              {{registerForm.errors.unAuthorized}}
            </span>
          </ng-container>
          <div class="p-fluid">
            <div class="p-fluid p-formgrid p-grid">
              <div class="p-field p-col-12 p-md-6 form__item">
                <label for="firstname" class="form__label text--capital">first name</label>
                <input type="text" formControlName="firstname" id="firstname" class="form__input form__input--lg">
                <ng-container
                  *ngIf="(registerFormControls.firstname.dirty || registerFormControls.firstname.touched) && registerFormControls.firstname.errors">
                  <span *ngIf="registerFormControls.firstname.errors.required" id="firstname-help"
                    class="p-invalid p-my-2 p-d-block">First name is required</span>
                </ng-container>
              </div>
              <div class="p-field p-col-12 p-md-6 form__item">
                <label for="lastname" class="form__label text--capital">last name</label>
                <input type="text" formControlName="lastname" id="lastname" class="form__input form__input--lg">
                <ng-container
                *ngIf="(registerFormControls.lastname.dirty || registerFormControls.lastname.touched) && registerFormControls.lastname.errors">
                <span *ngIf="registerFormControls.lastname.errors.required" id="lastname-help"
                  class="p-invalid p-my-2 p-d-block">Last name is required</span>
              </ng-container>
              </div>
            </div>
            <div class="p-fluid p-formgrid p-grid">
              <div class="p-field p-col-12 p-md-6 form__item">
                <label for="email" class="form__label text--capital">email</label>
                <input type="email" id="email" class="form__input form__input--lg" formControlName="email" >
                <ng-container
                *ngIf="(registerFormControls.email.dirty || registerFormControls.email.touched) && registerFormControls.email.errors">
                <span *ngIf="registerFormControls.email.errors.required" id="email-help"
                  class="p-invalid p-my-2 p-d-block">Email is required</span>
                <span *ngIf="registerFormControls.email.errors.email" id="email-help"
                  class="p-invalid p-my-2 p-d-block">Please enter valid email only</span>
              </ng-container>
              </div>
              <div class="p-field p-col-12 p-md-6 form__item">
                <label for="phone_number" class="form__label text--capital">phone number</label>
                <input type="tel" formControlName="phone_number" id="phone_number" class="form__input form__input--lg">
                <ng-container
                  *ngIf="(registerFormControls.phone_number.dirty || registerFormControls.phone_number.touched) && registerFormControls.phone_number.errors">
                  <span *ngIf="registerFormControls.phone_number.errors.required" id="phone_number-help"
                    class="p-invalid p-my-2 p-d-block">Phone number is
                    required</span>
                </ng-container>
              </div>
            </div>
            <div class="p-fluid p-formgrid p-grid">
              <div class="p-field p-col-12 p-md-6 form__item">
                <label for="password" class="form__label text--capital">password</label>
                <input type="password" id="password" formControlName="password"  class="form__input form__input--lg" (ngModelChange)="validateConfirmPassword()">
                <ng-container
                *ngIf="(registerFormControls.password.dirty || registerFormControls.password.touched) && registerFormControls.password.errors">
                <span *ngIf="registerFormControls.password.errors.required" id="password-help"
                  class="p-invalid p-mb-2 p-d-block p-px-2">Please enter password</span>
                <span *ngIf="registerFormControls.password.errors.minlength" id="password-help"
                  class="p-invalid p-mb-2 p-d-block p-px-2">Password must be at least characters</span>
              </ng-container>
              </div>
              <div class="p-field p-col-12 p-md-6 form__item">
                <label for="password_confirm" class="form__label text--capital">confirm password</label>
                <input type="password" id="password_confirm" 
                formControlName="confirmpassword"
                class="form__input form__input--lg">
                <ng-container
                *ngIf="(registerFormControls.confirmpassword.dirty || registerFormControls.confirmpassword.touched) && registerFormControls.confirmpassword.errors">
                <span *ngIf="registerFormControls.confirmpassword.errors.required" id="confirmpassword-help"
                  class="p-invalid p-mb-2 p-d-block p-px-2">Please enter password</span>
                <span *ngIf="registerFormControls.confirmpassword.errors.confirm" id="confirmpassword-help"
                  class="p-invalid p-mb-2 p-d-block p-px-2">Passwords do not match</span>
              </ng-container>
              </div>
            </div>
            <div class="p-field form__item">
              <button class="button button--raised button--secondary button--wide text--capital" [disabled]="isRegistering">
                <i *ngIf="isRegistering" class="pi pi-spin pi-spinner p-mr-2"></i>
                {{isRegistering ? 'creating..' : 'create account'}}</button>
            </div>
            <div class="p-field form__item">
              <p class="form__text text--center">Already have an account? <a [routerLink]="['/login']"
                  class="text--capital form__link form__link--primary">Login</a> </p>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
