<app-topnav></app-topnav>
<section>
  <main style="margin-bottom: 5rem;" class="landing" [ngStyle]="{'margin-top': noBanner ? '9rem' : '14rem'}">
    <!-- <div *ngIf="todayBids && todayBids.length" class="container jumbotron" [ngStyle]="{'background-color': bgColor}">
      <p-carousel (onPage)="hasChanged($event)" [value]="todayBids" styleClass="custom-carousel" [numVisible]="1" [numScroll]="1" [circular]="false" [autoplayInterval]="3000">
        <ng-template let-jumbo pTemplate="item">
          <div class="jumbotron">
            <a [routerLink]="[jumbo.router]">
              <img [src]="jumbo.url" [alt]="jumbo.alt" srcset="">
            </a>
          </div>
          <div class="p-grid p-nogutter h-100">
            <div class="p-col-12 p-md-4 p-mx-auto">
              <div class="p-d-flex p-ai-center h-100">
                <img [src]="jumbo.product_image" class="p-p-3" srcset="">
              </div>
            </div>
            <div class="p-col-12 p-md-5 p-mr-auto">
              <div class="text--center jumbotron_content p-p-3">
                <div class="text--upper text--white p-mb-2 jumbo_text text--bold">win</div>
                <div class="text--upper text--white p-mb-2 jumbo_text text--bold">{{jumbo.product_name}}</div>
                <div class="text--upper text--white p-mb-2 jumbo_text text--bold">with {{jumbo.bid_prize | currency: '₦': 'symbol':'1.0'}}</div>
                <div class="text--upper text--white p-mb-3 jumbo_text text--bold">this friday</div>
                <p class="text--medium text--white p-mb-3">With ₦ 500 you stand a chance to win an item every Friday by 6pm</p>
                <button [routerLink]="['/process_bid/', 'ticket-id='+jumbo.display_id]" [ngClass]="{'button--tertiary': bgColor === '#03027f'}" class="button button--primary text--upper button--lg text--bold">buy bid</button>
              </div>
            </div>
          </div>
        </ng-template>
    </p-carousel>
    </div> -->
 <!-- <img src="assets/img/banner-main.jpg" alt="" width="100%" srcset=""> -->
 <article class="jumbotron container">
  <div class="p-grid p-nogutter">
    <div class="p-col-12 p-md-4 p-mx-auto">
      <img src="assets/img/jumbo-item.png" class="p-p-3" srcset="">
    </div>
    <div class="p-col-12 p-md-5 p-mr-auto">
      <div class="text--center jumbotron_content p-p-3">
        <div class="text--upper text--white p-mb-2 jumbo_text text--bold">win</div>
        <div class="text--upper text--white p-mb-2 jumbo_text text--bold">tecno camon 17</div>
        <div class="text--upper text--white p-mb-2 jumbo_text text--bold">with {{500 | currency: '₦': 'symbol':'1.0'}}</div>
        <div class="text--upper text--white p-mb-3 jumbo_text text--bold">this friday</div>
        <p class="text--medium text--white p-mb-3">With ₦ 500 you stand a chance to win an item every Friday by 6pm</p>
        <button [routerLink]="['/process_bid', 'ticket_id=BUBA_373810798887082977788825692174863091690']" class="button button--primary text--upper button--lg text--bold">buy bid</button>
      </div>
    </div>
  </div>
</article>
    <div class="container">
      <div class="landing_wrapper bids" id="today-deals">
        <div class="landing_header">
          <h6 class="landing_title text--500 text--capital">
            <strong>
              today's top deals
            </strong>
          </h6>
        </div>
        <ng-container *ngIf="!todayBids">
          <div class="carousel-container">
            <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
              <div ngxSlickItem *ngFor="let product of products" class="slide">
                <div class="p-px-2">
                  <div class="bids_card">
                    <div class="bids_img_wrapper">
                    </div>
                  </div>
                  <div class="bids_text p-mt-3">
                    <span class="product_category p-d-block lh-16 text--grey text--semi-small text--capital p-mb-3">
                      
                    </span>
                    <p class="product_name text--semi-small text--upper lh-16 p-mb-2">
                      
                    </p>
                    <span class="product_price p-d-block lh-16 text--regular text--primary">
                      
                    </span>
                  </div>
                </div>
              </div>
            </ngx-slick-carousel>
          </div>
        </ng-container>
        <ng-container *ngIf="todayBids">
          <div class="carousel-container">
            <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
              <div ngxSlickItem *ngFor="let today of todayBids; let i = index" class="slide">
                <a class="bid_item">
                  <div class="bids_card">
                    <div class="bids_img_wrapper">
                      <img [lazyLoad]="today.product_image" [alt]="today.product_name"  [srcset]="today.product_image">
                    </div>
                  </div>
                  <div class="bids_text p-mt-3">
                    <span class="product_category p-d-block lh-16 text--grey text--semi-small text--capital p-mb-3">
                      {{today.category}}
                    </span>
                    <p class="product_name text--semi-small text--upper lh-16 p-mb-2">
                      {{today.product_name}}
                    </p>
                    <div class="p-d-block lh-16">
                      <button [routerLink]="['/dashboard/games/wheel']" class="button button--primary button--sm p-mr-2">
                        <span class="product_price p-mb-0 text--semi-small text--white text--capital">
                          spin for {{today.spin_prize | currency: '₦': 'symbol':'1.0'}}
                        </span>
                      </button>
                      <button [routerLink]="['/process_bid/', 'ticket-id='+today.display_id]" class="button button--secondary button--sm">
                        <span class="product_price p-mb-0 text--semi-small text--white text--capital">
                          bid for {{today.bid_prize | currency: '₦': 'symbol':'1.0'}}
                        </span>
                      </button>
                    </div>
                  </div>
                </a>
              </div>
            </ngx-slick-carousel>
          </div>
        </ng-container>
      </div>
      <div class="landing_wrapper games">
        <div class="landing_header">
          <h6 class="landing_title text--500 text--capital">
            <strong>
              Buba games
            </strong>
          </h6>
          <span class="landing_subtitle">Available interactive games on buba</span>
        </div>
        <div>
          <div class="games_container">
            <div class="games_card">
              <a [routerLink]="['/dashboard/games/quick-play']">
                <img src="assets/img/giqp.jpg" alt="Quick Play">
              </a>
            </div>
            <div class="games_card">
              <a [routerLink]="['/dashboard/games/daily-special']">
                <img src="assets/img/gids.jpg" alt="Daily Special">
              </a>
            </div>
            <div class="games_card">
              <a [routerLink]="['/dashboard/games/luckyjaka']">
                <img src="assets/img/gilj.jpg" alt="Lucky Jaka">
              </a>
            </div>
            <div class="games_card">
              <a [routerLink]="['/dashboard/games/wheel']">
                <img src="assets/img/giw.jpg" alt="Buba Wheel">
              </a>
            </div>
            <div class="games_card">
              <a [routerLink]="['/dashboard/games/berekete']">
                <img src="assets/img/gib.jpg" alt="Berekete">
              </a>
            </div>
            <!-- <div class="games_card">
              <a>
                <img src="assets/img/gidc.jpg" alt="Daily Chance">
              </a>
            </div> -->
          </div>
        </div>
      </div>
      <div class="landing_wrapper bids">
        <div class="landing_header">
          <h6 class="landing_title text--500 text--capital">
            <strong>
              cash prizes
            </strong>
          </h6>
        </div>
        <ng-container *ngIf="!cashBids">
          <div class="carousel-container">
            <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="cashSlideConfig">
              <div ngxSlickItem *ngFor="let item of products" class="slide">
                <div class="p-px-2">
                  <div class="bids_card">
                    <div class="bids_img_wrapper">
                    </div>
                  </div>
                  <div class="bids_text p-mt-3">
                    <span class="product_category p-d-block lh-16 text--grey text--semi-small text--capital p-mb-3">
                      
                    </span>
                    <p class="product_name text--semi-small text--upper lh-16 p-mb-2">
                      
                    </p>
                    <span class="product_price p-d-block lh-16 text--regular text--primary">
                      
                    </span>
                  </div>
                </div>
              </div>
            </ngx-slick-carousel>
          </div>
        </ng-container>
        <ng-container *ngIf="cashBids">
          <div class="carousel-container">
            <ngx-slick-carousel class="cash-carousel" #slickModal="slick-carousel" [config]="cashSlideConfig">
              <div ngxSlickItem *ngFor="let cash of cashBids" class="slide">
                <a class="bid_item">
                  <div class="bids_card">
                    <div class="bids_img_wrapper">
                      <img [src]="cash.product_image" loading="lazy" [alt]="cash.product_name"  [srcset]="cash.product_image">
                    </div>
                  </div>
                  <div class="bids_text p-mt-3">
                    <span class="product_category p-d-block lh-16 text--grey text--semi-small text--capital p-mb-3">
                      {{cash.category}}
                    </span>
                    <p class="product_name text--semi-small text--upper lh-16 p-mb-2">
                      {{cash.product_name}}
                    </p>
                    <span class="product_price p-d-block lh-16 text--regular text--primary">
                      {{cash.bid_prize | currency: '₦'}}
                    </span>
                    <div class="p-d-block lh-16">
                      <button [routerLink]="['/dashboard/games/wheel']" class="button button--primary button--sm p-mr-2">
                        <span class="product_price p-mb-0 text--semi-small text--white text--capital">
                          spin for {{cash.spin_prize | currency: '₦': 'symbol':'1.0'}}
                        </span>
                      </button>
                      <button [routerLink]="['/process_bid', cash.display_id]" class="button button--secondary button--sm">
                        <span class="product_price p-mb-0 text--semi-small text--white text--capital">
                          bid for {{cash.bid_prize | currency: '₦': 'symbol':'1.0'}}
                        </span>
                      </button>
                    </div>
                  </div>
                </a>
              </div>
            </ngx-slick-carousel>
          </div>
        </ng-container>
       
      </div>
      <!-- <div class="landing_wrapper bids">
        <div class="landing_header">
          <h6 class="landing_title text--500 text--capital">
            <strong>
              gadgets
            </strong>
          </h6>
        </div>
        <ng-container *ngIf="!gadgetBids">
          <div class="carousel-container">
            <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
              <div ngxSlickItem *ngFor="let item of products" class="slide">
                <div class="p-px-2">
                  <div class="bids_card">
                    <div class="bids_img_wrapper">
                    </div>
                  </div>
                  <div class="bids_text p-mt-3">
                    <span class="product_category p-d-block lh-16 text--grey text--semi-small text--capital p-mb-3">
                      
                    </span>
                    <p class="product_name text--semi-small text--upper lh-16 p-mb-2">
                      
                    </p>
                    <span class="product_price p-d-block lh-16 text--regular text--primary">
                      
                    </span>
                  </div>
                </div>
              </div>
            </ngx-slick-carousel>
          </div>
        </ng-container>
        <ng-container *ngIf="gadgetBids">
          <div class="carousel-container">
            <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
              <div ngxSlickItem *ngFor="let gadget of gadgetBids" class="slide">
                <a class="bid_item">
                  <div class="bids_card">
                    <div class="bids_img_wrapper">
                      <img [src]="gadget.product_image" loading="lazy" [alt]="gadget.product_name"  [srcset]="gadget.product_image">
                    </div>
                  </div>
                  <div class="bids_text p-mt-3">
                    <span class="product_category p-d-block lh-16 text--grey text--semi-small text--capital p-mb-3">
                      {{gadget.category}}
                    </span>
                    <p class="product_name text--semi-small text--upper lh-16 p-mb-2">
                      {{gadget.product_name}}
                    </p>
                    <span class="product_price p-d-block lh-16 text--regular text--primary">
                      {{gadget.bid_prize | currency: '₦'}}
                    </span>
                    <div class="p-d-block lh-16">
                      <button [routerLink]="['/dashboard/games/wheel']" class="button button--primary button--sm p-mr-2">
                        <span class="product_price p-mb-0 text--semi-small text--white text--capital">
                          spin for {{gadget.spin_prize | currency: '₦': 'symbol':'1.0'}}
                        </span>
                      </button>
                      <button [routerLink]="['/process_bid', gadget.display_id]" class="button button--secondary button--sm">
                        <span class="product_price p-mb-0 text--semi-small text--white text--capital">
                          bid for {{gadget.bid_prize | currency: '₦': 'symbol':'1.0'}}
                        </span>
                      </button>
                    </div>
                  </div>
                </a>
              </div>
            </ngx-slick-carousel>
          </div>
        </ng-container>
       
      </div> -->
      <!-- <div class="landing_wrapper bids">
        <div class="landing_header">
          <h6 class="landing_title text--500 text--capital">
            <strong>
              Recommended Deals
            </strong>
          </h6>
        </div>
        <ng-container *ngIf="!recommendedBids">
          <div class="carousel-container">
            <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
              <div ngxSlickItem *ngFor="let item of products" class="slide">
                <div class="p-px-2">
                  <div class="bids_card">
                    <div class="bids_img_wrapper">
                    </div>
                  </div>
                  <div class="bids_text p-mt-3">
                    <span class="product_category p-d-block lh-16 text--grey text--semi-small text--capital p-mb-3">
                      
                    </span>
                    <p class="product_name text--semi-small text--upper lh-16 p-mb-2">
                      
                    </p>
                    <span class="product_price p-d-block lh-16 text--regular text--primary">
                      
                    </span>
                  </div>
                </div>
              </div>
            </ngx-slick-carousel>
          </div>
        </ng-container>
        <ng-container *ngIf="recommendedBids">
          <div class="carousel-container">
            <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
              <div ngxSlickItem *ngFor="let product of recommendedBids" class="slide">
                <a class="bid_item">
                  <div class="bids_card">
                    <div class="bids_img_wrapper">
                      <img [src]="product.product_image" loading="lazy" [alt]="product.product_name"  [srcset]="product.product_image">
                    </div>
                  </div>
                  <div class="bids_text p-mt-3">
                    <span class="product_category p-d-block lh-16 text--grey text--semi-small text--capital p-mb-3">
                      {{product.category}}
                    </span>
                    <p class="product_name text--semi-small text--upper lh-16 p-mb-2">
                      {{product.product_name}}
                    </p>
                    <span class="product_price p-d-block lh-16 text--regular text--primary">
                      {{product.bid_prize | currency: '₦'}}
                    </span>
                    <div class="p-d-block lh-16">
                      <button [routerLink]="['/dashboard/games/wheel']" class="button button--primary button--sm p-mr-2">
                        <span class="product_price p-mb-0 text--semi-small text--white text--capital">
                          spin for {{product.spin_prize | currency: '₦': 'symbol':'1.0'}}
                        </span>
                      </button>
                      <button [routerLink]="['/process_bid', product.display_id]" class="button button--secondary button--sm">
                        <span class="product_price p-mb-0 text--semi-small text--white text--capital">
                          bid for {{product.bid_prize | currency: '₦': 'symbol':'1.0'}}
                        </span>
                      </button>
                    </div>
                  </div>
                </a>
              </div>
            </ngx-slick-carousel>
          </div>
        </ng-container>
       
      </div> -->
      <!-- <div class="landing_wrapper referral">
        <div class="p-grid">
          <div class="p-col-12 p-md-6 p-mr-auto p-mb-3">
            <div class="p-pr-md-6">
              <div class="referral_card">
               <a [routerLink]="['/dashboard/games/berekete']" >
                <img [defaultImage]="defaultImage" [lazyLoad]="'assets/img/ad2.gif'" alt="Win Up to ₦5,000,000 on Buba Berekete">
               </a>
              </div>
            </div>
          </div>
          <div class="p-col-12 p-md-6 p-ml-auto p-mb-3">
            <div class="p-pl-md-6">
              <div class="referral_card">
                <a [routerLink]="['/process_bid/BUBA_5529627156724418712663191374450706596']">
                  <img [defaultImage]="defaultImage" [lazyLoad]="'assets/img/ad.gif'" alt="Win an iPhone 12">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div> -->
      
      
      <!-- <div class="landing_wrapper bids">
        <div class="landing_header">
          <h6 class="landing_title text--500 text--capital">
            <strong>
              Hot bids
            </strong>
          </h6>
        </div>
       <ng-container *ngIf="!hotBids">
        <div class="carousel-container">
          <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
            <div ngxSlickItem *ngFor="let empty of products" class="slide">
              <div class="p-px-2">
                <div class="bids_card">
                  <div class="bids_img_wrapper">
                  </div>
                </div>
                <div class="bids_text p-mt-3">
                  <span class="product_category p-d-block lh-16 text--grey text--semi-small text--capital p-mb-3">
                    
                  </span>
                  <p class="product_name text--semi-small text--upper lh-16 p-mb-2">
                    
                  </p>
                  <span class="product_price p-d-block lh-16 text--regular text--primary">
                    
                  </span>
                </div>
              </div>
            </div>
          </ngx-slick-carousel>
        </div>
       </ng-container>
       <ng-container *ngIf="hotBids">
        <div class="carousel-container">
          <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
            <div ngxSlickItem *ngFor="let bid of hotBids" class="slide">
              <a class="bid_item">
                <div class="bids_card">
                  <div class="bids_img_wrapper">
                    <img [src]="bid.product_image" loading="lazy" [alt]="bid.product_name"  [srcset]="bid.product_image">
                  </div>
                </div>
                <div class="bids_text p-mt-3">
                  <span class="product_category p-d-block lh-16 text--grey text--semi-small text--capital p-mb-3">
                    {{bid.category}}
                  </span>
                  <p class="product_name text--semi-small text--upper lh-16 p-mb-2">
                    {{bid.product_name}}
                  </p>
                  <div class="p-d-block lh-16">
                    <button [routerLink]="['/dashboard/games/wheel']" class="button button--primary button--sm p-mr-2">
                      <span class="product_price p-mb-0 text--semi-small text--white text--capital">
                        spin for {{bid.spin_prize | currency: '₦': 'symbol':'1.0'}}
                      </span>
                    </button>
                    <button [routerLink]="['/process_bid', bid.display_id]" class="button button--secondary button--sm">
                      <span class="product_price p-mb-0 text--semi-small text--white text--capital">
                        bid for {{bid.bid_prize | currency: '₦': 'symbol':'1.0'}}
                      </span>
                    </button>
                  </div>
                </div>
              </a>
            </div>
          </ngx-slick-carousel>
        </div>
       </ng-container>
      </div> -->
    </div>
  </main>
  <app-footer></app-footer>
</section>

<p-dialog [(visible)]="displayLandingModal" styleClass="transfer-modal" [modal]="true"
[style]="{width: '100%', maxWidth: '50rem'}" [baseZIndex]="10000" [draggable]="false" [resizable]="false">
  <div class="modal-content p-px-1">
    <!-- <h4 class="text--large text--center p-mb-5">Buba Testimonials</h4> -->
    <div>
      <div class="p-grid p-py-1">
        <div class="p-col-12">
          <div class="">
            <!-- <iframe [src]="safeUrl" frameborder="0" allowfullscreen width="100%" height="250"></iframe> -->
            <!-- <iframe width="100%" height="300" [src]="safeUrl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->

            <!-- <p-carousel [value]="safeYouTubeUrls" [numVisible]="1" [numScroll]="1">
              <ng-template let-url pTemplate="item">
                <iframe width="100%" height="300" [src]="url" title="Buba Video Testimonial" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </ng-template>
          </p-carousel> -->
          <picture>
            <source media="(min-width:992px)" srcset="assets/img/promo.jpg">
            <img style="object-fit: contain;" src="assets/img/promo-sm.webp" alt="Buba Jackpot" width="100%'" height="400">
          </picture>
          <div class="text--center p-mt-3">
            <a [routerLink]="['/dashboard/deposit']" role="button" class="button button--primary button--wider text--large text--capital">fund now</a>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</p-dialog>

<ng-container *ngIf="user">
  <p-dialog [(visible)]="displayDepositModal" styleClass="transfer-modal" [modal]="true" [style]="{width: '100%', maxWidth: '40rem'}"
  [baseZIndex]="10000" [draggable]="false" [resizable]="false" (onHide)="closeDepositModal()">
  <div class="modal-content p-px-1 p-mt-2">
    <!-- <h4 class="text--regular text--center p-mb-3">Account Deposit</h4> -->
    <p class="text--regular-alt p-mb-5">Hello, {{user.firstname}}. Your account balance is low, kindly deposit more funds to place bids and play games.</p>
    <app-fund-deposit></app-fund-deposit>
  </div>
</p-dialog>
</ng-container>
