<section class="root_container">
    <div class="card">
      <div class="card__body p-d-flex p-flex-column">
        <!-- <div class="p-d-md-inline-flex pageheader p-mb-0">
          <h1 class="pageheader__title text--capital">
            buba wheel
          </h1>
        </div> -->
        <ng-container *ngIf="loadingDetails else doneLoading">
          <div class="text--center py-2 pseudo">
            <div class="lds-hourglass"></div>
          </div>
        </ng-container>
        <ng-template #doneLoading>
          <ng-container *ngIf="luckyJakaData; else noData">
            <app-winning-marquee></app-winning-marquee>
            <div class="p-grid">
              <div class="p-col-12">
                <!-- <p-messages severity="info">
                  <ng-template pTemplate>
                    <div class="text--regular">
                      <strong>How it Works</strong>
                      <br>
                      <p>
                        BUBA WHEEL – this wheel of fortune has various options including but not limited to Cash Prizes,
                        amazing products, and unbelievable deals. With one spin, you could become a millionaire, get a
                        chance to try again, or win exciting prizes.
                        Each product spin has different stakes and guarantees you a 50% chance of winning.
                      </p>
                      <br>
                      You are now one spin away from changing your life forever!!
                    </div>
                  </ng-template>
                </p-messages> -->
                <div class="p-grid p-mt-3">
                  <div class="p-md-6 p-lg-4 p-col-12 p-mx-md-auto">
                    <div class="steps">
                        <!-- <img src="assets/img/step1.png" class="p-pr-1" width="60" alt=""> -->
                        <div class="steps_number">
                          1
                        </div>
                        <div class="steps_content">
                            <!-- <span class="steps_content_head text--capital text--medium p-d-block p-pb-2">1. do something</span> -->
                            <div class="steps_content_text text--regular">
                              Select an Item you want to win. 
                              <br>
                              Select your desired option; if you want to spin or bid for the product.
                            </div>
                        </div>
                    </div>
                  </div>
                   <div class="p-md-6 p-lg-4 p-col-12 p-mx-md-auto">
                    <div class="steps">
                      <!-- <img src="assets/img/step1.png" class="p-pr-1" width="60" alt=""> -->
                      <div class="steps_number">
                        2
                      </div>
                      <div class="steps_content">
                          <!-- <span class="steps_content_head text--capital text--medium p-d-block p-pb-2">1. do something</span> -->
                          <div class="steps_content_text text--regular">
                            Login or Create an account, fund your account to spin or bid for your selected product.
                          </div>
                      </div>
                  </div>
                  </div>
                  <div class="p-md-6 p-lg-4 p-col-12 p-mx-md-auto">
                    <div class="steps">
                      <!-- <img src="assets/img/step1.png" class="p-pr-1" width="60" alt=""> -->
                      <div class="steps_number">
                        3
                      </div>
                      <div class="steps_content">
                          <!-- <span class="steps_content_head text--capital text--medium p-d-block p-pb-2">1. do something</span> -->
                          <div class="steps_content_text text--regular">
                            Your win status will be communicated to you Instantly for the wheel; and at the bid closing time for bids.
                          </div>
                      </div>
                  </div>
                  </div>
              </div>
              </div>
              <div class="spin_wrapper w-100">
                <div>
                  <ng-container>
                    <div class="stepper">
                      <div class="stepper-indicator"
                        [ngClass]="{'stepper-indicator--completed': (currentPage$ | async)  > 1, 'stepper-indicator--current': (currentPage$ | async)  === 1}">
                        <i class="pi pi-check"></i>
                        <span>1</span>
                      </div>
                      <span class="stepper-spacer stepper-spacer_spin"
                        [ngClass]="{'stepper-spacer--completed': (currentPage$ | async)  > 1}">
  
                      </span>
                      <div class="stepper-indicator"
                        [ngClass]="{'stepper-indicator--completed': (currentPage$ | async)  > 2, 'stepper-indicator--current': (currentPage$ | async)  === 2}">
                        <i class="pi pi-check"></i>
                        <span>2</span>
                      </div>
                      <span class="stepper-spacer stepper-spacer_spin"
                        [ngClass]="{'stepper-spacer--completed': (currentPage$ | async)  > 2}">
  
                      </span>
                      <div class="stepper-indicator"
                        [ngClass]="{'stepper-indicator--completed': (currentPage$ | async)  === 3}">
                        <i class="pi pi-check"></i>
                        <span>3</span>
                      </div>
                    </div>
                    <div class="stepper-content">
                      <div [ngSwitch]="(currentPage$ | async)">
                        <div class="w-100">
                          <ng-container *ngSwitchCase="1">
                            <app-stepper-two [gameType]="gameType" [animation]="animation"></app-stepper-two>
                          </ng-container>
                          <ng-container *ngSwitchCase="2">
                            <app-stepper-three [gameType]="gameType"
                              [animation]="animation"></app-stepper-three>
                          </ng-container>
                          <ng-container *ngSwitchCase="3">
                            <app-stepper-four [gameType]="gameType" [luckyJakaData]="luckyJakaData" [accountDetails]="(accountDetails$ | async)"
                              [animation]="animation"></app-stepper-four>
                          </ng-container>
                        </div>
                      </div>
                    </div>
                  </ng-container>
                </div>
              </div>
            </div>
          </ng-container>
          <ng-template #noData>
            <div class="pseudo">
              <p class="text--medium text--center">
                No games found. Please come back later
              </p>
            </div>
          </ng-template>
        </ng-template>
      </div>
    </div>
  </section>
  