<div class="p-grid animate__animated animate__fadeIn animate__faster">
    <div class="p-col-10 p-md-8 p-lg-6 p-mx-auto">
        <form (ngSubmit)="authenticate()">
            <div class="p-fluid">
                <div class="p-field">
                    <label for="firstname1">email</label>
                    <input class="p-inputtext-lg" id="firstname1" type="text" pInputText> 
                </div>
                <div class="p-field p-mt-5">
                    <button type="submit" class="button button--primary button--raised button--wide text--upper">
                        authenticate
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
