@import '../../../../styles/abstract/variables';

.sidenav{

    &__item{
        margin-bottom: 2rem;
        text-decoration: none;
        cursor: pointer;
        padding: 1.5rem;
        display: flex;
        align-items: center;
        font-size: $font-size-medium;
        color: $color-ash;
        font-weight: bold;

        &__icon{
            font-size: $font-size-medium;
            margin-right: 1.5rem;
        }

        &__text{
            display: block;
        }

        &.active{
            background-color: $color-white;
            color: $color-grey;
            box-shadow: 0 2px 4px 0 rgba(112,121,139,.18);
            border-radius: .5rem;
        }

        &.logout{
            color: $color-danger;
        }
    }
}
