<nav class="topnav">
  <a href="" class="logo">
    <img src="assets/img/logo-red.png" alt="" srcset="">
  </a>
  <div class="topnav_right">
    <ng-container *ngIf="(userDetails$ | async) as userDetails">
      <div class="topnav_right_user">
        <span class="user">{{userDetails.firstname}}&nbsp;{{userDetails.lastname}}</span>
        <span class="balance">{{userDetails.balance | currency : '₦ '}}
          <a (click)="refreshWallet()">
            <i class="pi pi-refresh" [ngClass]="{'pi-spin': processing}"></i>
          </a>
        </span>
      </div>
    </ng-container>
    <div class="topnav_right_store">
      <a href="http//buba.ng" class="">
        <span>Back to store</span>
        <!-- <i class="pi pi-arrow-circle-right"></i> -->
      </a>
    </div>
  </div>
</nav>
