<section class="games_container">
  <div class="card">
    <div class="card__body p-d-flex p-flex-column">
      <div class="p-d-md-inline-flex pageheader p-mb-0">
        <h1 class="pageheader__title text--capital">
          buba wheel
        </h1>
      </div>
      <ng-container *ngIf="loadingDetails else doneLoading">
        <div class="text--center py-2 pseudo">
          <div class="lds-hourglass"></div>
        </div>
      </ng-container>
      <ng-template #doneLoading>
        <ng-container *ngIf="spinData; else noData">
          <app-winning-marquee></app-winning-marquee>
          <div class="p-grid">
            <div class="p-col-12">
              <!-- <p-messages severity="info">
                <ng-template pTemplate>
                  <div class="text--regular">
                    <strong>How it Works</strong>
                    <br>
                    <p>
                      BUBA WHEEL – this wheel of fortune has various options including but not limited to Cash Prizes,
                      amazing products, and unbelievable deals. With one spin, you could become a millionaire, get a
                      chance to try again, or win exciting prizes.
                      Each product spin has different stakes and guarantees you a 50% chance of winning.
                    </p>
                    <br>
                    You are now one spin away from changing your life forever!!
                  </div>
                </ng-template>
              </p-messages> -->
              <div class="p-grid p-mt-3">
                <div class="p-md-6 p-lg-4 p-col-12 p-mx-md-auto">
                  <div class="steps">
                      <!-- <img src="assets/img/step1.png" class="p-pr-1" width="60" alt=""> -->
                      <div class="steps_number">
                        1
                      </div>
                      <div class="steps_content">
                          <!-- <span class="steps_content_head text--capital text--medium p-d-block p-pb-2">1. do something</span> -->
                          <div class="steps_content_text text--regular">
                            Select an Item you want to win. 
                            <br>
                            Select your desired option; if you want to spin or bid for the product.
                          </div>
                      </div>
                  </div>
                </div>
                <div class="p-md-6 p-lg-4 p-col-12 p-mx-md-auto">
                  <div class="steps">
                    <!-- <img src="assets/img/step1.png" class="p-pr-1" width="60" alt=""> -->
                    <div class="steps_number">
                      2
                    </div>
                    <div class="steps_content">
                        <!-- <span class="steps_content_head text--capital text--medium p-d-block p-pb-2">1. do something</span> -->
                        <div class="steps_content_text text--regular">
                          Your win status will be communicated to you Instantly for the wheel; and at the bid closing time for bids.
                        </div>
                    </div>
                </div>
                </div>
            </div>
            </div>
            <div class="p-col-12 p-md-7 p-lg-6 p-mx-auto">
              <div class="p-mb-4 p-mt-3">
                <div class="p-d-none p-d-sm-block">
                  <p-dropdown [resetFilterOnHide]="true" (onChange)="selectItem($event, raffle)" [options]="entries"
                    styleClass="product-dropdown" [(ngModel)]="selectedEntry" optionLabel="product_name" [filter]="true"
                    [showClear]="true" placeholder="Select what to win">
                    <ng-template pTemplate="selectedItem">
                      <div class="entry-item p-d-flex p-ai-center" *ngIf="selectedEntry">
                        <img [src]="selectedEntry.product_image" width="30" class="p-mr-2" />
                        <div>Win {{selectedEntry.product_name}}</div>
                      </div>
                    </ng-template>
                    <ng-template pTemplate="item" let-entry>
                      <div class="entry-item p-d-flex p-ai-center">
                        <img [src]="entry.value.product_image" width="30" class="p-mr-2" />
                        <div class="text--regular">{{entry.value.product_name}}</div>
                      </div>
                    </ng-template>
                  </p-dropdown>
                </div>
                <div class="p-d-sm-none">
                  <div class="select">
                    <select [(ngModel)]="selectedEntry" (ngModelChange)="selectMobile($event, raffle)"
                      class="form__input form__input--lg">
                      <option [value]="null" disabled>Select what to win</option>
                      <option *ngFor="let entry of entries" [ngValue]="entry">Win {{entry.product_name}}</option>
                    </select>
                    <span class="select__icon">
                      <i class="pi pi-sort"></i>
                    </span>
                  </div>
                </div>
              </div>
              
              <div class="text--center">
                <span class="spinner spinner-indicator"></span>
              <div class="raffle_draw">
                <ul class="raffle_container" #raffle>
                  <li>
                    <div class="loss raffle_item">
                      <p>Loss</p>
                    </div>
                  </li>
                  <li>
                    <div class="loss raffle_item">
                      <p>Loss</p>
                    </div>
                  </li>
                  <li>
                    <div class="won raffle_item">
                      <p>
                        <strong>
                          Won!
                        </strong>
                      </p>
                      <i class="pi pi-star"></i>
                    </div>
                  </li>
                  <li>
                    <div class="loss raffle_item">
                      <p>Loss</p>
                    </div>
                  </li>
                  <li>
                    <div class="won_10 raffle_item">
                      <p>
                        <strong>10%</strong>
                      </p>
                      <p>
                        Cash
                      </p>
                      <p>
                        Back
                      </p>
                      <i class="pi pi-check"></i>
                    </div>
                  </li>
                  <li>
                    <div class="spin-again raffle_item">
                      <p>
                        <strong>Spin</strong>
                      </p>
                      <p>
                        <strong>
                          Again
                        </strong>
                      </p>
                      <i class="pi pi-replay"></i>
                    </div>
                  </li>
                  <li>
                    <div class="loss raffle_item">
                      <p>
                        Loss
                      </p>
                    </div>
                  </li>
                  <li>
                    <div class="won_50 raffle_item">
                      <p>
                        <strong>20%</strong>
                      </p>
                      <p>
                        Winnings
                      </p>
                    </div>
                  </li>
                  <li>
                    <div class="reset raffle_item">
                      <p>
                        Spin
                      </p>
                    </div>
                  </li>
                </ul>
                <ng-container *ngIf="!showExtraBtns">
                  <button [disabled]="isSpinning || !selectedEntry" class="button p-m-2 button--primary"
                    (click)="startSpin(raffle)">Spin {{selectedEntry?.stake_amount | currency : '₦'}} </button>
                    <button *ngIf="selectedEntry" [routerLink]="['/process_bid', selectedEntry.product_id]" routerLinkActive="router-link-active"  [disabled]="isSpinning || !selectedEntry" class="button p-m-2 button--secondary">Bid {{selectedEntry?.bid_details?.bid_prize | currency : '₦'}}</button>
                </ng-container>
                <ng-container *ngIf="showExtraBtns">
                  <button *ngIf="showRetryBtn" [disabled]="isSpinning" class="button p-mx-2 button--tertiary"
                    (click)="retrySpin(raffle)">Retry</button>
                  <button [disabled]="isSpinning" class="button p-mx-2 button--tertiary"
                    (click)="resetSpinner(raffle)">Reset</button>
                </ng-container>
              </div>
              </div>
            </div>
          </div>
        </ng-container>
        <ng-template #noData>
          <div class="pseudo">
            <p class="text--medium text--center">
              No games found. Please come back later
            </p>
          </div>
        </ng-template>
      </ng-template>
    </div>
  </div>
</section>
