<div class="account p-grid">
  <div class="p-col-12 p-md-7 p-lg-4 p-mx-auto account__container">
    <div class="account__head">
      <a class="account__head__logo">
        <img src="assets/img/buba-secondary.png" alt="buba">
      </a>
      <h1 class="account__head__title text--capital">create payment account</h1>
    </div>
    <div class="account__body">
      <div class="account__form">
        <!-- <ng-container *ngIf="errorMessage">
          {{errorMessage}}
        </ng-container> -->
        <ng-container *ngIf="currentPage === 1">
          <p class="text--regular-alt text--center p-mb-5">Please click below to create your unique <span
              pTooltip="A payment account helps with easier funding" tooltipPosition="top"
              class="text--secondary pointer">payment account</span> for wallet funding</p>
          <button type="submit" [disabled]="isCreating" (click)="createPaymentAccount()"
            class="button button--secondary button--raised button--wide text--capital">
            <i *ngIf="isCreating" class="pi pi-spin pi-spinner p-mr-2"></i>
            {{isCreating ? 'creating..' : 'Create Account'}}
          </button>
        </ng-container>
        <ng-container *ngIf="currentPage === 2">
          <p-messages severity="info">
            <ng-template pTemplate>
              <div class="text--regular">
                Kindly make a bank transfer to the account details below.
                <br>
                <br>
                Note that payments are set to reflect automatically.
                <br>
                <br>
                For further clarifications/assistance, you can call Moji on <strong>+234-906-632-7164.</strong>
              </div>
            </ng-template>
          </p-messages>
          <div class="p-fluid p-mt-3">
            <div class="p-grid">
              <div class="p-field p-col-5">
                <span class="text--semi-small text--upper account-title text--bold">
                  bank name
                </span>
              </div>
              <div class="p-field p-col-7">
                <span class="text--regular-alt text--upper account-subtitle">
                    Providus Bank
                </span>
              </div>
            </div>
            <div class="p-grid">
              <div class="p-field p-col-5">
                <span class="text--semi-small text--upper account-title text--bold">
                  account name
                </span>
              </div>
              <div class="p-field p-col-7">
                <span class="text--regular-alt text--upper account-subtitle">
                  {{accountDetails?.payment_account_name}}
                </span>
              </div>
            </div>
            <div class="p-grid">
              <div class="p-field p-col-5">
                <span class="text--semi-small text--upper account-title text--bold">
                  account number
                </span>
              </div>
              <div class="p-field p-col-7">
                <span class="text--regular-alt text--upper account-subtitle">
                  {{accountDetails?.payment_account_number}}
                </span>
              </div>
            </div>
            <div class="p-grid p-field p-mt-5">
              <div class="p-col-12 p-text-right">
                <button type="button" [disabled]="processing" (click)="confirmPayment()"
                  class="button button--secondary button--raised button--wide text--capital">
                  <i *ngIf="processing" class="pi pi-spin pi-spinner p-mr-2"></i>
                  {{processing ? 'please wait' : 'I have funded'}}
                </button>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
