<app-topnav></app-topnav>
<section class="container" style="margin-bottom: 5rem;">
  <main class="main"  [ngStyle]="{'margin-top': noBanner ? '8rem' : '14rem'}">
    <div id="winner"  [ngStyle]="{'top': noBanner ? '8.5rem' : '14.5rem'}">
     <div *ngIf="winner" class="winner">
       <span class="p-mx-1 text--semi-small winner_text">
        <span>{{winner?.firstname | titlecase}}&nbsp;{{winner?.lastname | titlecase}}</span>
        <span class="p-mx-2">{{winner.phone_number}}</span>
        <span>won&nbsp;{{winner.amount | currency : '₦'}}</span>
      </span>
     </div>
    </div>
    <!-- <div class="main__sidebar" [ngStyle]="{'top': noBanner ? '8rem' : '14rem'}">
      <app-sidenav></app-sidenav>
    </div> -->
    <div class="main__content">
       <!-- <button (click)="showSideMenu()">show</button> -->
      <div class="main__content__container">
         <router-outlet></router-outlet>
      </div>
    </div>
  </main>
</section>
<app-footer></app-footer>
