@import '../../styles/abstract/variables';

.main {
  // margin-top: 13rem;
  transition: all .1s ease-in-out;

  &__sidebar {
    display: none;
    height: 100%;
    overflow: auto;

    @media all and (min-width: 768px) {
      display: block;
      position: fixed;
      // top: 13rem;
      width: 20rem;
      padding: 4rem 0 4rem .5rem;
    }

  }

  &__content {
    width: 100%;
    margin-left: auto;

    @media all and (min-width: 768px) {

      // width: calc(100% - 20rem);
      margin-left: auto;
    }

    &__container {
      margin-left: auto;
      margin-right: auto;
      padding: 4rem 0;

      @media all and (min-width: 768px) {
        width: 95%;
      }

      // @media all and (min-width: 992px) {
      //   width: 90%;
      // }

      // @media all and (min-width: 1200px) {
      //   width: 85%;
      // }
    }
  }

  @keyframes spin {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  #winner {
    position: fixed;
    left: 2rem;
    z-index: 900;
    width: fit-content;
    transition: all .2s ease-in-out;
    // animation: linear 1s infinite spin;
    // animation-fill-mode: forwards;
    // animation-play-state: running;

    @media all and (min-width: 768px) {
      right: 5rem;
    }

    .winner {
      background-color: #b3e5fce6;
      padding: 1rem;
      border-radius: 5px;

      &_text {
        display: inline-flex;
        // color: $color-ash;
        // font-size: $font-size-small;
      }
    }
  }
}
