<div>
  <div class="page__header">
    <h4 class="page__header__main">
      Change password
    </h4>
    <p class="page__header__caption">
      Enter your old password to proceed
    </p>
  </div>
  <div class="page__content">
    <div class="password__reset">
      <div class="account__form">
        <form [formGroup]="changePasswordForm" (ngSubmit)="changePasswordHandler(changePasswordForm.value)">
          <div class="p-fluid">
            <div class="p-field form__item">
              <label for="oldpassword" class="form__label text--capital">current password</label>
              <input type="password" formControlName="old_password" id="oldpassword"
                class="form__input form__input--lg">
              <ng-container
                *ngIf="(formControls.old_password.dirty || formControls.old_password.touched) && formControls.old_password.errors">
                <span *ngIf="formControls.old_password.errors.required" class="p-invalid p-mb-2 p-d-block p-px-2">Please
                  enter current password</span>
                <span *ngFor="let error of formControls.old_password.errors.invalidErr"
                  class="p-invalid p-my-2 p-d-block">{{error}}</span>
                <span *ngIf="formControls.old_password.errors.minlength"
                  class="p-invalid p-mb-2 p-d-block p-px-2">Please must be more than 6 characters</span>
              </ng-container>
            </div>
            <div class="p-field form__item">
              <label for="password" class="form__label text--capital">new password</label>
              <input type="password" id="password" formControlName="new_password"
                (ngModelChange)="updateConfirmPasswordValidator()" class="form__input form__input--lg">
              <ng-container
                *ngIf="(formControls.new_password.dirty || formControls.new_password.touched) && formControls.new_password.errors">
                <span *ngIf="formControls.new_password.errors.required" class="p-invalid p-mb-2 p-d-block p-px-2">Please
                  enter a new password</span>
                <span *ngIf="formControls.new_password.errors.minlength"
                  class="p-invalid p-mb-2 p-d-block p-px-2">Please must be more than 6 characters</span>
              </ng-container>
            </div>
            <div class="p-field form__item">
              <label for="confirmpassword" class="form__label text--capital">confirm password</label>
              <input type="password" formControlName="password_confirmation" id="confirmpassword"
                class="form__input form__input--lg">
              <ng-container
                *ngIf="(formControls.password_confirmation.dirty || formControls.password_confirmation.touched) && formControls.password_confirmation.errors">
                <ng-container *ngIf="formControls.password_confirmation.errors.required">
                  <span class="p-invalid p-mb-2 p-d-block p-px-2">Please confirm your password</span>
                </ng-container>
                <ng-container *ngIf="formControls.password_confirmation.errors.confirm">
                  <span class="p-invalid p-mb-2 p-d-block p-px-2">Passwords do not match</span>
                </ng-container>
              </ng-container>
            </div>
            <ng-container *ngIf="changePasswordForm.errors && changePasswordForm.errors.badRequest">
              <div class="p-field form__item">
                <span class="p-invalid p-my-2 p-d-block">
                  {{changePasswordForm.errors.badRequest}}
                </span>
              </div>
            </ng-container>
            <div class="p-field form__item">
              <button [disabled]="loading || changePasswordForm.invalid" type="submit"
                class="button button--secondary button--raised text--upper">
                <i *ngIf="loading" class="pi pi-spin pi-spinner p-mr-2"></i>
                {{loading ? 'saving' : 'change password'}}
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
