<div>
    <div class="page__header">
      <h4 class="page__header__main">
        Change password
      </h4>
      <p class="page__header__caption">
        Enter your old password to proceed
      </p>
    </div>
    <div class="page__content">
        <div class="password__reset">
            <div class="account__form">
              <form>
                <div class="p-fluid">
                    <div class="p-field form__item">
                        <label for="oldpassword" class="form__label text--capital">current password</label>
                        <input type="password" id="oldpassword" class="form__input form__input--lg">
          
                      </div>
                  <div class="p-field form__item">
                    <label for="password" class="form__label text--capital">new password</label>
                    <input type="password" id="password" class="form__input form__input--lg">
      
                  </div>
                  <div class="p-field form__item">
                    <label for="confirmpassword" class="form__label text--capital">confirm password</label>
                    <input type="password" id="confirmpassword" class="form__input form__input--lg">
      
                  </div>
                  <div class="p-field form__item">
                    <button type="submit" class="button button--primary button--raised text--upper">
                      change password
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
    </div>
  </div>
  