<!-- <p-dialog [(visible)]="true" styleClass="transfer-modal" [modal]="true" [style]="{width: '32rem'}"
  [baseZIndex]="10000" [closable]="false" [draggable]="false" [resizable]="false">
  <div class="modal-content p-px-1 p-mt-2">
    <p class="text--medium text--center p-py-3">Verifying payment. Please wait...</p>
  </div>
</p-dialog> -->



<p-dialog [visible]="true" styleClass="transfer-modal" [modal]="true" [style]="{width: '33rem'}" [baseZIndex]="10000" 
[closable]="false" [draggable]="false" [resizable]="false"
>
<div class="modal-content p-px-1 p-mt-2">
    <p class="text--medium text--center p-py-3">Verifying payment. Please wait...</p>
  </div>
</p-dialog>