<div class="bidstatus">
  <div class="bidstatus__container">
    <!-- <div class="bidstatus__nav p-d-none p-d-md-block">
      <a class="bidstatus__nav__text" [routerLink]="['/bids']">back to bids</a>
    </div> -->
    <div class="pageheader">
      <h1 class="pageheader__title text--capital">
        bid status
      </h1>
    </div>
    <div class="pagebody bidstatus__body">
      <div class="p-grid">
        <div class="p-col-12 p-sm-9 p-md-7 p-lg-6 p-mr-auto bidstatus__body__form">
          <div class="card">
            <div class="card__body">
              <div class="p-mb-3">
                <form autocomplete="nope" novalidate [formGroup]="bidStatusForm"
                (ngSubmit)="checkBidStatus(bidStatusForm.value)">
                <div class="p-fluid">
                  <div class="p-field form__item">
                    <label class="form__label text--capital">bid ID</label>
                    <input type="text" formControlName="ticket_id" class="form__input form__input--lg">
                    <ng-container
                      *ngIf="(formControls.ticket_id.dirty || formControls.ticket_id.touched) && formControls.ticket_id.errors">
                      <span *ngIf="formControls.ticket_id.errors.required" 
                        class="p-invalid p-my-2 p-d-block">Enter Ticket ID</span>
                    </ng-container>
                  </div>
                  <ng-container *ngIf="bidStatusForm.errors && bidStatusForm.errors.badRequest">
                    <div class="p-field form__item">
                      <span class="p-invalid p-my-2 p-d-block">
                        {{bidStatusForm.errors.badRequest}}
                      </span>
                    </div>
                  </ng-container>
                  <div class="p-field form__item">
                    <button [disabled]="loading" type="submit"
                      class="button button--raised button--lg button--secondary text--capital">
                      <i *ngIf="loading" class="pi pi-spin pi-spinner p-mr-2"></i>
                      {{loading ? 'processing' : 'check status'}}
                    </button>
                  </div>
                </div>
              </form>
              </div>
             <ng-container *ngIf="ticketDetails">
                <div class="p-mt-5">
                    <div class="p-grid">
                        <div class="p-col-3">
                          <div class="bids__open__item">
                            <img class="bids__open__image" [src]="ticketDetails.product_image" alt="product">
                          </div>
                        </div>
                        <div class="p-col-9">
                          <div class="p-grid">
                           <div class="p-col-12">
                            <div class="bids__open__item p-col text--left">
                              <span class="bids__open__text text--medium text--bold">
                                {{ticketDetails.product_name}}
                              </span>
                            </div>
                           </div>
                            <div class="p-col-12">
                              <div class="bids__open__item p-col text--left">
                                <span class="bids__open__text">
                                    <strong>Bid Status</strong>
                                    : <span [ngClass]="{'text--danger': ticketDetails.status === '1', 'text--green': ticketDetails.status === '0'}">
                                     {{ticketDetails.status === '0' ? 'Open' : 'Closed'}}
                                    </span>
                                   </span>
                              </div>
                            </div>
                           <ng-container *ngIf="ticketDetails.status === '1'">
                            <div *ngIf="ticketDetails?.winnings == 0">
                                <div class="p-col-12">
                                    <div class="bids__open__item p-col text--left">
                                      <span class="bids__open__text">
                                       <strong>Ticket Status</strong>
                                       : <span class="text--danger">
                                        Loss
                                       </span>
                                      </span>
                                    </div>
                                  </div>
                            </div>
                            <div *ngIf="ticketDetails?.winnings != 0">
                               <ng-container *ngIf="ticketDetails?.winnings == 1">
                                <div class="p-col-12">
                                    <div class="bids__open__item p-col text--left">
                                      <span class="bids__open__text">
                                       <strong>Winnings</strong>
                                       : <span>
                                        {{ticketDetails?.win_status}}
                                       </span>
                                      </span>
                                    </div>
                                  </div> 
                               </ng-container>
                               <ng-container *ngIf="ticketDetails?.winnings != 1">
                                <div class="p-col-12">
                                    <div class="bids__open__item p-col text--left">
                                      <span class="bids__open__text">
                                       <strong>Winnings</strong>
                                       : <span>
                                       {{ticketDetails?.win_status | currency : '₦'}}
                                       </span>
                                      </span>
                                    </div>
                                  </div> 
                               </ng-container>
                            </div>
                           </ng-container>
                          </div>
                        </div>
                      </div>
                  </div>
             </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
