<footer class="landing_wrapper footer">
    <div class="">
      <!-- <div class="p-p-5">
        <p class="text--center text--500 text--regular">Buba NG</p>
      </div> -->
      <div class="container">
        <div class="p-grid">
          <div class="p-col-12 p-md-3 p-mb-4">
            <!-- <a [routerLink]="['/']"  class="p-d-inline-block p-mb-6">
              <img src="assets/img/buba-logo.png" width="150" alt="" srcset="">
            </a> -->
            <div class="p-mb-6">
              <p class="text--regular text--white p-mb-2">
                Phone:&nbsp;<a href="tel:+2349066327164"><span class="text--white p-d-inline-block text--underline">+234-906-632-7164</span></a>
              </p>
              <p class="text--regular text--white p-mb-2">
                Email:&nbsp;<a href="mailto:support@buba.ng"><span class="text--white p-d-inline-block text--underline">
                  support@buba.ng
                </span></a>
              </p>
            </div>
            <div>
              <span class="p-mr-4 p-d-inline-block">
                <a target="_blank" rel="noreferrer" class="footer-icon text--white text--medium" href="http://facebook.com/officialbuba.ng">
                  <ion-icon name="logo-facebook"></ion-icon>
                </a>
              </span>
              <span class="p-mr-4 p-d-inline-block">
                <a target="_blank" rel="noreferrer" class="footer-icon text--white text--medium" href="http://twitter.com/buba_ng">
                  <ion-icon name="logo-twitter"></ion-icon>
                </a>
              </span>
              <span class="p-mr-4 p-d-inline-block">
                <a target="_blank" rel="noreferrer" class="footer-icon text--white text--medium" href="http://instagram.com/buba.ng">
                  <ion-icon name="logo-instagram"></ion-icon>
                </a>
              </span>
              <span class="p-mr-4 p-d-inline-block">
                <a target="_blank" rel="noreferrer" class="footer-icon text--white text--medium" href="https://wa.me/2349066327164">
                  <ion-icon name="logo-whatsapp"></ion-icon>
                </a>
              </span>
            </div>
          </div>
          <div class="p-col-12 p-md-9 p-mb-4">
            <div class="p-grid">
              <div class="p-col-12 p-md-9">
                <div class="p-grid">
                  <div class="p-col-6 p-md-4">
                    <div class="footer_menu">
                      <h4 class="text--large text--white text--capital">games</h4>
                      <ul>
                        <li>
                          <a [routerLink]="['/dashboard/games/quick-play']" class="text--regular text--white text--capital">quick play</a>
                        </li>
                        <li>
                          <a [routerLink]="['/dashboard/games/daily-special']" class="text--regular text--white text--capital">daily special</a>
                        </li>
                        <li>
                            <a [routerLink]="['/dashboard/games/berekete']" class="text--regular text--white text--capital">berekete</a>
                          </li>
                          <li>
                            <a [routerLink]="['/dashboard/games/wheel']" class="text--regular text--white text--capital">buba wheel</a>
                          </li>
                          <li>
                            <a [routerLink]="['/dashboard/games/luckyjaka']" class="text--regular text--white text--capital">lucky jaka</a>
                          </li>
                      </ul>
                    </div>
                  </div>
                  <div class="p-col-6 p-md-4">
                    <div class="footer_menu">
                      <h4 class="text--large text--white text--capital">help</h4>
                      <ul>
                        <li>
                          <a [routerLink]="['/responsible-gaming']" class="text--regular text--white text--capital">responsible gaming</a>
                        </li>
                        <li>
                          <a [routerLink]="['/faqs']" class="text--regular text--white text--capital">FAQs</a>
                        </li>
                        <li>
                          <a href="https://bubang.medium.com/" target="_blank" referrerpolicy="no-referrer" class="text--regular text--white text--capital">blog</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="p-col-6 p-md-4">
                    <div class="footer_menu">
                      <h4 class="text--large text--white text--capital">Extra</h4>
                      <ul>
                        <li>
                            <a [routerLink]="['/dashboard']" class="text--regular text--white text--capital">my account</a>
                          </li>
                          <li>
                            <a href="" class="text--regular text--white text--capital">privacy policy</a>
                          </li>
                        <li>
                          <a href="https://forms.gle/sq32NywAaZ4enFBj6" target="_blank" rel="noreferrer" class="text--regular text--white text--capital">become an agent</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer_mid">
        <div class="container">
          <ul class="footer_items">
            <li class="footer_brand">
              <a href="">
                <div class="p-mb-2">
                  <img src="assets/img/buba-white.png" alt="Buba" width="120" srcset="">
                </div>
                <div>
                  <img src="assets/img/nig.png" alt="Buba" width="100" srcset="">
                </div>
              </a>
            </li>
            <li>
              <div class="p-d-flex">
                <div class="footer_img_small">
                  <img src="assets/img/18reg.svg" width="42" alt="18+">
                </div>
                <p class="footer_text">
                  Must be 18 years of age or older to register or play at Buba NG. Gambles may have adverse effects if not made with moderation.
                </p>
              </div>
            </li>
            <!-- <li>
              <div class="p-d-flex">
                <div class="footer_img_small">
                  <img src="assets/img/lrc.png" width="42" alt="18+">
                </div>
                <p class="footer_text">
                  Buba NG is approved by: National Lottery Regulatory Commission (NLRC).
                </p>
              </div>
            </li> -->
          </ul>
        </div>
      </div>
      <div class="footer_bottom">
        <div class="container">
          <div class="p-d-flex p-jc-between p-ai-center">
            <ul class="footer_items">
              <li>
                <div>
                  <img src="assets/img/verve.png" width="65" alt="Verve">
                </div>
              </li>
              <li>
                <div>
                  <img src="assets/img/mc.png" width="35" alt="Mastercard">
                </div>
              </li>
              <li>
                <div>
                  <img src="assets/img/visa.png" width="50" alt="Visa">
                </div>
              </li>
            </ul>
            <span class="footer_text">
              © {{year}} Lucky Jaka
            </span>
          </div>
        </div>
      </div>
    </div>
  </footer>