
.rg{
    margin-top: 8rem;
    padding: 1rem 0;

    &-text{
        font-size: 1.3rem;
    }
}
.paragraph{
    line-height: 25px;
}


.text-indent{
    text-indent: 50px;
}

.lh20{
    line-height: 20px;
}