<section class="games_container">
  <div class="card">
    <div class="card__body p-d-flex p-flex-column">
      <div class="pageheader p-mb-0">
        <h1 class="pageheader__title text--capital">
          daily special
        </h1>
        <!-- <span class="pageheader__subtitle text--capital">
                  daily special 
              </span> -->
      </div>
      <ng-container *ngIf="loadingDetails else doneLoading">
        <div class="text--center py-2 pseudo">
          <!-- <i class="pi pi-spin pi-spinner"></i> -->
          <div class="lds-hourglass"></div>
          <!-- <span class="p-d-block text--regular p-mt-2">Please wait...</span> -->
        </div>
      </ng-container>
      <ng-template #doneLoading>
        <ng-container *ngIf="lotteryData; else noData">
          <div class="lottery_container" [ngClass]="{'show-slip': showBetSlip}">
            <p-messages class="lottery_how" severity="info" [closable]="false">
              <ng-template pTemplate>
                <div>
                  <h5 class="text--medium">How to play</h5>
                  <br>
                  <br>
                  <p class="text--semi-small text--grey text--500">Select 5 numbers from 10 numbers using the hint as a
                    guide.</p>
                  <br>
                  <p class="text--semi-small text--grey text--500">
                    If you choose the correct set of numbers, the amount staked will be multiplied by 15 to give you
                    your
                    winning lot.
                  </p>
                </div>
              </ng-template>
            </p-messages>
            <div class="lottery_wrapper">
              <div class="lottery">
                <button class="lottery-numbers" *ngFor="let number of allLotteryNumbers"
                  [ngClass]="{'selected': getBackgroundColor(number)}" (click)="selectNumber(number)">
                  {{number}}
                </button>
              </div>
              <details class="hints_container">
                <summary>Hints</summary>
                <ul class="hints">
                  <li *ngIf="allHints.five_count && allHints.five_count != 0">
                    <span class="text--secondary text--bold">{{allHints.five_count}}</span> numbers divisible by 5
                  </li>
                  <li *ngIf="allHints.odd_count && allHints.odd_count != 0">
                    <span class="text--secondary text--bold">{{allHints.odd_count}}</span> odd numbers
                  </li>
                  <li *ngIf="allHints.prime_count && allHints.prime_count != 0">
                    <span class="text--secondary text--bold">{{allHints.prime_count}}</span> prime numbers
                  </li>
                  <li *ngIf="allHints.seven_count && allHints.seven_count != 0">
                    <span class="text--secondary text--bold">{{allHints.seven_count}}</span> numbers divisible by 7
                  </li>
                  <li *ngIf="allHints.three_count && allHints.three_count != 0">
                    <span class="text--secondary text--bold">{{allHints.three_count}}</span> numbers divisible by 3
                  </li>
                  <li *ngIf="allHints.two_count && allHints.two_count != 0">
                    <span class="text--secondary text--bold">{{allHints.two_count}}</span> numbers divisible by 2
                  </li>
                </ul>
              </details>
              <button [disabled]="selectedNumbers.length < 5"
                class="button p-mt-3 button--tertiary button--sm button--wide" (click)="addToSlip()">
                Add to Game Slip
              </button>
              <button
                class="button p-mt-3 button--tertiary button--sm button--wide" (click)="showSideBar()">
                Open Game Slip 
               <sup>
                <span class="p-d-inline-block slip-count">
                    {{selectedNumbersContainer.length}}
                </span>
               </sup>
              </button>
            </div>
            <div class="game_slip" [ngClass]="{'ticket-slip': miniBar}">
              <!-- <button title="Close Slip" pButton pRipple type="button" icon="pi pi-times"
                  class="p-button-rounded p-button-secondary p-button-outlined close-slip"  [ngClass]="{'open': openSide}" (click)="clearGameSlip()"></button> -->
              <button title="Close Slip" pButton pRipple type="button" icon="pi pi-angle-double-right"
                class="p-button-rounded p-button-secondary p-button-outlined close-slip" [ngClass]="{'open': openSide}"
                (click)="closeSideBar()"></button>

              <div class="text--right p-mb-2">
                <button (click)="clearGameSlip()" pButton pRipple type="button" label="Clear Slip"
                class="p-button-outlined p-button-danger p-button-sm"></button>
              </div>
              <div class="game_slip_container">
                <ng-container *ngIf="selectedNumbersContainer.length">
                    <div *ngFor="let children of selectedNumbersContainer; let i = index;"
                  class="game_ticket animate__animated animate__faster" [ngClass]="animation">
                  <div class="text--right p-mb-2">
                    <button title="Remove Ticket" pButton pRipple type="button" (click)="removeFromSlip(i)"
                      icon="pi pi-trash"
                      class="p-button-rounded p-button-text p-button-danger p-button-outlined p-button-sm"></button>
                  </div>
                  <div class="p-d-flex p-jc-between p-mb-2 p-py-2">
                    <span class="game_ticket_num" *ngFor="let item of children">
                      {{item}}
                    </span>
                  </div>
                  <div class="p-grid p-ai-center p-mt-2 border-top">
                    <div class="p-col-5">
                      <span class="text--semi-small text--grey">Stake:</span>
                    </div>
                    <div class="p-col-7">
                      <input type="number" maxlength="20" min="50" name="stake" [(ngModel)]="stake_amount[i]"
                        (ngModelChange)="changeAmt(i, $event)" class="form__input form__input--sm" placeholder="0.00"
                        step="50">
                    </div>
                  </div>
                  <small class="text--small text--tertiary text--right p-d-block">Minimum is ₦50.00</small>
                  <div class="p-d-flex p-ai-center p-jc-between p-px-1 p-my-2 p-py-2">
                    <span class="text--semi-small p-d-inline-block p-pr-1 text--600 text--grey">Total Winnings</span>
                    <span
                      class="text--semi-small p-d-inline-block p-pl-1 text--600 text--grey">{{(stake_amount[i] ? stake_amount[i] * 15 : 0) | currency : '₦'}}</span>
                  </div>
                </div>
                <div class="p-d-flex p-ai-center p-jc-between p-px-1 p-my-2 p-py-2">
                  <span class="text--semi-small p-d-inline-block p-pr-1 text--600 text--grey">Number of Bets:</span>
                  <span
                    class="text--semi-small p-d-inline-block p-pl-1 text--600 text--grey">{{selectedNumbersContainer.length}}</span>
                </div>
                <div class="p-d-flex p-ai-center p-jc-between p-px-1 p-my-2 p-py-2">
                  <span class="text--semi-small p-d-inline-block p-pr-1 text--600 text--grey">Total Stake:</span>
                  <span
                    class="text--semi-small p-d-inline-block p-pl-1 text--600 text--grey">{{(totalStakeAmount ? totalStakeAmount : 0) | currency : '₦'}}</span>
                </div>
                <button type="button" [disabled]="buyingTickets"
                  class="button p-mt-3 button--tertiary button--sm button--wide" (click)="buyTickets()">
                  <i *ngIf="buyingTickets" class="pi pi-spin pi-spinner p-mr-2"></i>
                  {{buyingTickets ? 'Please wait..' : 'Play game'}}
                </button>
                </ng-container>
                <ng-container *ngIf="!selectedNumbersContainer.length">
                    <div class="game_ticket">
                        <span class="text--semi-small text--grey p-d-block text--center">No tickets</span>
                    </div>
                </ng-container>
              </div>
            </div>
          </div>
        </ng-container>
        <ng-template #noData>
          <div class="pseudo">
            <p class="text--medium text--center">
              No games found. Please come back later
            </p>
          </div>
        </ng-template>
      </ng-template>
    </div>
  </div>
</section>
