<div class="account p-grid">
  <div class="p-col-12 p-md-7 p-lg-4 p-mx-auto account__container">
    <div class="account__head">
      <a class="account__head__logo">
        <img src="assets/img/buba-secondary.png" alt="buba">
      </a>
      <h1 class="account__head__title">Reset your account</h1>
    </div>
    <div class="account__body">
      <div *ngIf="showResetForm" class="account__form">
        <form (ngSubmit)="reset(forgotPasswordForm.value)" [formGroup]="forgotPasswordForm">
          <ng-container *ngIf="forgotPasswordForm.errors">
            <span *ngIf="forgotPasswordForm.errors.badRequest"
              class="p-invalid p-my-2 p-d-block p-text-center text--semi-small">
              {{forgotPasswordForm.errors.badRequest}}
            </span>
            <span *ngIf="forgotPasswordForm.errors.unAuthorized"
              class="p-invalid p-my-2 p-d-block p-text-center text--semi-small">
              {{forgotPasswordForm.errors.unAuthorized}}
            </span>
          </ng-container>
          <div class="p-fluid">
            <div class="p-field form__item">
              <label for="email" class="form__label text--capital">email</label>
              <input type="email" id="email" formControlName="email" class="form__input form__input--lg">
              <ng-container
                *ngIf="(formControls.email.dirty || formControls.email.touched) && formControls.email.errors">
                <span *ngIf="formControls.email.errors.required" id="email-help"
                  class="p-invalid p-my-2 p-d-block">Email is required</span>
                <span *ngIf="formControls.email.errors.email" id="email-help" class="p-invalid p-my-2 p-d-block">Please
                  enter valid email only</span>
              </ng-container>
            </div>
            <div class="p-field form__item">
              <button type="submit" [disabled]="resetting"
                class="button button--secondary button--raised button--wide text--capital">
                <i *ngIf="resetting" class="pi pi-spin pi-spinner p-mr-2"></i>
                {{resetting ? 'resetting...' : 'reset password'}}
              </button>
            </div>
            <div class="p-field form__item">
              <p class="form__text text--center">Go back to <a [routerLink]="['/login']"
                  class="text--capital form__link form__link--primary">Login</a> </p>
            </div>
          </div>
        </form>
      </div>
      <div *ngIf="!showResetForm">
        <div class="reset-success">
          <h4 class="reset-success--header">check your email</h4>
          <p class="reset-success--text">If we find <span class="reset-success--text-bold">{{email}}</span> in our
            system,
            we will send you an email with instructions for changing your password.</p>
          <p class="reset-success--text">
            If you don't receive the email, check your spam folder.
          </p>
          <p class="reset-success--text">
            Or try resetting your password using a <a (click)="displayResetForm()"
              class="reset-success--text-action">different email address</a>.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
