@import '../../../styles/abstract/variables';

.reset-success{
    text-align: center;

    &--header{
      font-size: 2rem;
      margin: 1rem 0;
      font-weight: bolder;
      text-transform: capitalize;
    }

    &--text{
      margin: 1.5rem 0 0;
      font-size: 1.5rem;
      
      &-bold{
        font-weight: 700;
      }

      &-action{
        color: $color-primary;
        cursor: pointer;
      }
    }
  }