<div class="bids">
    <div class="card">
      <div class="card__body">
        <div class="bids__container">
          <div class="pageheader">
            <h1 class="pageheader__title text--capital">
              spin history
            </h1>
            <span class="pageheader__subtitle text--capital">
              all your Buba spin history
            </span>
          </div>
          <div class="pagebody bids__body">
            <div class="p-grid">
              <div class="p-col-12">
                <div class="table__container">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>S/No</th>
                        <th>Status</th>
                        <th>Product Name</th>
                        <th>Date Created</th>
                        <th>Stake</th>
                        <th>Winnings</th>
                      </tr>
                    </thead>
                    <tbody>
                      <ng-container *ngIf="spinHistory && spinHistory.length">
                        <tr *ngFor="let spin of spinHistory; let i = index">
                          <td>{{i + 1}}</td> 
                          <td>
                            <span *ngIf="spin.status == 1" class="p-tag p-tag-success">Won</span>
                            <span *ngIf="spin.status == 0" class="p-tag p-tag-danger">Loss</span>
                            <span *ngIf="spin.status == 2" class="p-tag p-tag-info">Cash</span>
                            <span *ngIf="spin.status == 3" class="p-tag p-tag-info">Cash Back</span>
                          </td>
                          <td>
                            {{spin.product_name}}
                          </td>
                          <td>{{spin.updated_at | customeDate: "MMM DD, YYYY. h:mm:ss a"}}</td>
                          <td>{{spin.stake_amount | currency: '₦'}}</td>
                          <td>
                            <span *ngIf="spin.win_category != '1'">
                              {{spin.win_value | currency: '₦'}}
                              </span>
                              <span *ngIf="spin.status == '1'">
                                {{spin.win_value}}
                              </span>
                          </td>
                        </tr>
                      </ng-container>
                      <ng-container *ngIf="spinHistory && !spinHistory.length">
                        <tr>
                          <td colspan="7">
                            <p class="p-p-4 text--center text--capital">
                              {{errorMsg}}
                            </p>
                          </td>
                        </tr>
                      </ng-container>
                    </tbody>
                  </table>
                </div>
                <ng-container>
                  <div class="p-flex p-mt-3 p-ml-auto text--right">
                    <button class="button p-mx-1 button--secondary text--capital" (click)="goPrevious()">
                      previous
                    </button>
                    <button class="button p-mx-1 button--secondary text--capital" (click)="goNext()">
                      next
                    </button>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  