<div class="bids">
 <div class="card">
     <div class="card__body">
        <div class="bids__container">
            <div class="pageheader">
              <h1 class="pageheader__title text--capital">
                bids history
              </h1>
              <span class="pageheader__subtitle text--capital">
                  your bid history
              </span>
            </div>
            <div class="pagebody bids__body">
              <div class="p-grid">
                <div class="table__container">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>S/No</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>No of Bids</th>
                        <th>Product Name</th>
                        <th>Category</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let bids of bidsHistory; let i = index">
                        <td>{{i + 1}}</td>
                        <td>{{bids.start_date | date}}</td>
                        <td>{{bids.end_date | date}}</td>
                        <td>{{bids.total_bid}}</td>
                        <td>{{bids.product_name}}</td>
                        <td class="text--capital">lucky five</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
     </div>
 </div>
</div>
