<div class="p-grid animate__animated animate__fadeIn animate__faster">
   <div class="p-col-12">
       <div class="bid-success">
           <div class="bid-success_heading">
                <h4 class="bid-success_heading--title">
                    success!
                </h4>
                <span class="bid-success_heading--subtitle">You're the real deal!</span>
           </div>
           <div class="bid-success--img">
                <img src="assets/img/bidsuccess.svg" alt="">
           </div>
       </div>
   </div>
  </div>
  