<div>
  <div class="page__header">
    <h4 class="page__header__main">
      Edit profile
    </h4>
    <p class="page__header__caption">
      Update your profile information
    </p>
  </div>
  <div class="page__content">
    <div class="profile">
      <div class="account__form">
        <form>
          <div class="p-fluid">
            <div class="p-field form__item">
              <label for="email" class="form__label text--capital">email</label>
              <input type="text" id="email" class="form__input form__input--lg">

            </div>
            <div class="p-field form__item">
              <label for="password" class="form__label text--capital">password</label>
              <input type="password" id="password" class="form__input form__input--lg">

            </div>
            <div class="p-field form__item">
              <button type="submit" class="button button--primary button--raised text--upper">
                save
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
