@import '../../styles/abstract/variables';

.dashboard {
  &__container {}

  .balance {
    display: flex;
    flex-direction: column;
    position: relative;
    min-width: 0;
    // word-wrap: break-word;
    background-color: $color-white;
    background-clip: border-box;
    border: 0;
    border-radius: .75rem;
    flex: 1 1 auto;
    padding: 2.5rem 2rem;
    box-shadow: 0 2px 4px 0 rgba(112, 121, 139, .18);
    margin-bottom: 2.5rem;

    &__header {
      display: block;
      font-weight: 700;
      margin-bottom: 1.5rem;
      color: $color-ash;
      font-size: $font-size-regular;
    }

    &__amount {
      display: block;
      font-size: 2.5rem;
      font-weight: 700;
      line-height: 1.5;
      color: $color-grey;
    }
  }

  .payment {
    display: flex;
    flex-direction: column;
    position: relative;
    min-width: 0;
    // word-wrap: break-word;
    background-color: $color-white;
    background-clip: border-box;
    border: 0;
    border-radius: .75rem;
    flex: 1 1 auto;
    padding: 2.5rem 2rem;
    box-shadow: 0 2px 4px 0 rgba(112, 121, 139, .18);
    margin-bottom: 2.5rem;

    &__header {
      display: block;
      font-weight: 700;
      margin-bottom: 1.5rem;
      color: $color-ash;
      font-size: $font-size-regular;
    }

    &__details {
      &__item {
        display: block;
        font-size: $font-size-medium;
        line-height: 1.5;
        color: $color-grey;
      }

      &__button {
        text-transform: capitalize;
      }
    }
  }

  .bids {
    display: flex;
    flex-direction: column;
    position: relative;
    min-width: 0;
    // word-wrap: break-word;
    background-color: $color-white;
    background-clip: border-box;
    border: 0;
    border-radius: .75rem;
    flex: 1 1 auto;
    padding: 2.5rem 2rem;
    box-shadow: 0 2px 4px 0 rgba(112, 121, 139, .18);
    margin-bottom: 2.5rem;

    &__header {
      display: block;
      font-weight: 700;
      margin-bottom: 1.5rem;
      color: $color-ash;
      font-size: $font-size-regular;
    }

    &__details {
      &__item {
        display: block;
        font-size: $font-size-medium;
        line-height: 1.5;
        color: $color-grey;
      }

      &__button {
        text-transform: capitalize;
      }
    }
  }

  .loading {
    padding: 2rem;
    line-height: 1.5;

    i {
      font-size: 2.5rem;
    //   color: $color-ash;
    color: lighten($color: $color-primary, $amount: 30);
    }
  }
}
