<div class="dashboard">
  <div class="dashboard__container">
    <div class="pageheader">
      <ng-container *ngIf="(storedUserDetails$ | async) as storedUserDetails">
        <h1 class="pageheader__title text--capital">
          welcome<span>, {{storedUserDetails.firstname}}&nbsp;{{storedUserDetails.lastname}}</span>
        </h1>
        <span class="pageheader__subtitle text--capital">
          account summary
        </span>
      </ng-container>
    </div>
    <div class="pagebody dashboard__body">
      <app-winning-marquee></app-winning-marquee>
      <div class="p-grid">
        <div class="p-col-12 p-md-12 p-lg-5 p-mr-auto dashboard__body__left">
          <div class="p-grid p-p-2">
            <div class="p-col-12 p-md-4 p-lg-12 info_card p-mr-md-2 p-mr-lg-0">
              <span class="balance__header text--upper">
                wallet
              </span>
              <ng-container *ngIf="loadingDetails; else loadedBalance">
                <div class="text--center py-2 loading">
                  <i class="pi pi-spin pi-spinner"></i>
                </div>
              </ng-container>
              <ng-template #loadedBalance>
                <span class="balance__amount text--700">
                  {{userdetails?.balance | currency: '₦ '}}
                </span>
                <div class="payment__details__item">
                  <!-- <div>
                    Fund Wallet
                  </div>
                  <div>
                    <a (click)="openFundModal()" class="text--secondary text--capital">
                      Use Flutterwave
                    </a>&nbsp;|&nbsp;
                    <a (click)="displayAccountModal =  true" class="text--secondary text--capital">
                      Bank Transfer
                    </a>
                  </div>
                  <hr class="p-my-4">
                  <div>
                    Promo Code
                  </div>
                 <div>
                  <a (click)="openPromoModal()" class="text--secondary text--capital">
                    add promo code
                  </a>
                 </div> -->
                 <!-- <a [routerLink]="['/dashboard/deposit']" class="button button--sm p-mt-2 button--secondary text--capital payment__addbutton">
                 deposit 
                 <i class="pi pi-plus p-ml-2" style="font-size: 1.2rem"></i>
                </a> -->
                <button class="button button--sm p-mt-2 button--secondary text--capital payment__addbutton" (click)="openFundModal()">
                  deposit
                  <i class="pi pi-plus p-ml-2" style="font-size: 1.2rem"></i>
                </button>
                </div>
              </ng-template>
            </div>
            <!-- <div class="p-col-12 p-md-4 p-lg-12 payment p-ml-md-2 p-ml-lg-0">
              <span class="payment__header text--upper">
                payment account details
              </span>
              <ng-container *ngIf="loadingDetails; else loadedAccountDetails">
                <div class="text--center loading">
                  <i class="pi pi-spin pi-spinner"></i>
                </div>
              </ng-container>
              <ng-template #loadedAccountDetails>
                <div *ngIf="userdetails && userdetails.payment_bank_name; else noAccountDetails">
                  <div class="p-grid payment__container py-3">
                    <div class="p-col-12 payment__details">
                      <div>
                        <span class="payment__bank payment__details__item text--capital">bank name: </span>
                      <strong class="p-ml-1 payment__bank payment__details__item text--capital">
                        {{userdetails.payment_bank_name? userdetails.payment_bank_name : 'Sterling Bank'}}
                      </strong>
                      </div>
                     <div>
                       <span class="payment__name payment__details__item text--capital">
                        account name:
                       </span>
                      <strong class="p-ml-1 payment__name payment__details__item text--capital">
                        {{userdetails.payment_account_name ? userdetails.payment_account_name : 'N/A'}}
                      </strong>
                     </div>
                     <div>
                       <span class="payment__name payment__details__item text--capital">account number:</span>
                       <strong class="p-ml-1 payment__account payment__details__item text--700 text--capital">
                        {{userdetails.payment_account_number ? userdetails?.payment_account_number : 'N/A'}}
                      </strong>
                     </div>
                    </div>
                    <div class="p-col-12 payment__details__item p-as-center">
                      <button class="button button--secondary text--capital payment__addbutton payment__details__button"
                        (click)="refreshAccountDetails()">
                        refresh
                      </button>
                    </div>
                  </div>
                </div>
                <ng-template #noAccountDetails>
                  <div class="text--center loading">
                    <p *ngIf="badRequestError" class="text--regular text--danger p-mb-2">{{badRequestError}}</p>
                    <p class="text--regular">No Payment Account Found</p>
                    <button [disabled]="isCreating"
                      class="button button--sm button--secondary text--capital payment__addbutton payment__details__button"
                      (click)="createPaymentAccount()">
                      {{isCreating ? 'Creating..' : 'Create One'}}
                    </button>
                  </div>
                </ng-template>
              </ng-template>
            </div> -->

            <div class="p-col-12 p-md-4 p-lg-12 info_card payment p-mr-md-2 p-mr-lg-0">
              <span class="balance__header text--upper">
                winning balance
              </span>
              <ng-container *ngIf="loadingDetails; else loadedWiningBalance">
                <div class="text--center py-2 loading">
                  <i class="pi pi-spin pi-spinner"></i>
                </div>
              </ng-container>
              <ng-template #loadedWiningBalance>
                <span class="balance__amount text--700">
                  {{userdetails?.winnings_balance | currency: '₦ '}}
                </span>
                <div class="p-mt-2">
                  <a [routerLink]="['/dashboard/withdrawals/new']"
                    class="button button--sm p-mr-2 p-mt-2 button--secondary text--capital payment__addbutton">
                    withdraw
                  </a>
                  <button (click)="openTransferModal()"
                    class="button button--sm p-mt-2 button--secondary text--capital payment__addbutton">
                    transfer to wallet
                  </button>
                </div>
              </ng-template>
            </div>
            <div class="p-col-12 p-md-4 p-lg-12 info_card p-mr-md-2 p-mr-lg-0">
              <span class="balance__header text--upper">
                loyalty balance
              </span>
              <ng-container *ngIf="loadingDetails; else loadedBonus">
                <div class="text--center py-2 loading">
                  <i class="pi pi-spin pi-spinner"></i>
                </div>
              </ng-container>
              <ng-template #loadedBonus>
                <span class="balance__amount text--700">
                  {{userdetails?.loyalty_balance ? (userdetails?.loyalty_balance | currency: '₦ '): '₦ 0.00'}}
                </span>
                <div class="payment__details__item">
                  <!-- <button class="button p-mr-2 p-mt-2 button--secondary text--capital payment__addbutton payment__details__button"
                  (click)="openLoyaltyWithdrawModal()">
                  withdraw
                </button> -->
                  <!-- <button
                    class="button p-mt-2 button--secondary text--capital payment__addbutton payment__details__button"
                    (click)="openLoyaltyTransferModal()">
                    transfer to wallet
                  </button> -->
                  <div>
                    <a (click)="openLoyaltyTransferModal()" class="text--capital text--secondary text--capital">
                      transfer to wallet
                    </a>
                  </div>
                </div>
              </ng-template>
            </div>

            <!-- <div class="p-col-12 p-md-4 p-lg-12 balance p-ml-md-2 p-ml-lg-0">
              <span class="balance__header text--upper">
                winning balance
              </span>
              <ng-container *ngIf="loadingDetails; else loadedWiningBalance">
                <div class="text--center py-2 loading">
                  <i class="pi pi-spin pi-spinner"></i>
                </div>
              </ng-container>
              <ng-template #loadedWiningBalance>
                <span class="balance__amount text--700">
                  {{userdetails?.winnings_balance | currency: '₦ '}}
                </span>
                <div class="p-mt-2">
                  <a [routerLink]="['/withdrawals/new']" class="button button--secondary text--capital payment__addbutton">
                    withdraw
                  </a>
                  <button (click)="openTransferModal()" class="button button--secondary text--capital payment__addbutton">
                  transfer to wallet
                  </button>
                </div>
              </ng-template>
            </div> -->
          </div>
        </div>

        <div class="p-col-12  p-md-12 p-lg-6 p-mx-auto dashboard__body__right">
          <div class="info_card">
            <span class="referral__header text--upper">
              referral details
            </span>
            <ng-container *ngIf="loadingDetails; else showReferral">
              <div class="text--center loading">
                <i class="pi pi-spin pi-spinner"></i>
              </div>
            </ng-container>
            <ng-template #showReferral>
              <div class="p-grid referral__container py-3">
                <div class="p-col-12 referral__details">
                  <span class="referral__bank referral__details__item text--capital">
                    Code: <strong>{{userdetails.referral_code? userdetails.referral_code : 'N/A'}}</strong>
                  </span>
                  <div class="p-grid p-ai-center p-mt-5">
                    <div class="p-col-10">
                      <textarea rows="2" #inputElement readonly class="form__input form__textarea"
                        [value]="'https://buba.ng/register?referred_by=' + userdetails.referral_code">
                        </textarea>
                    </div>
                    <div class="p-col-2">
                      <button class="button button p-mx-2" (click)="copyTextToClipBoard(inputElement)">
                        <i class="pi pi-copy" style="font-size: 1.5rem"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </div>
          <div class="info_card">
            <span class="bids__header text--upper">
              open bid(s)
            </span>
            <div class="bids__details">
              <ng-container *ngIf="isFetchingBids; else doneFetchingBids">
                <div class="text--center py-2 loading">
                  <i class="pi pi-spin pi-spinner"></i>
                </div>
              </ng-container>
              <ng-template #doneFetchingBids>
                <ng-container *ngIf="bidHistory">
                  <ng-container *ngIf="bidHistory.length; else noHistory">
                    <div>
                      <div *ngFor="let bid of bidHistory.slice(0, 5)" class="bids__open__container">
                        <div class="bids__open__body">
                          <div class="p-grid p-nogutter">
                            <div class="p-col-3">
                              <div class="bids__open__item">
                                <img class="bids__open__image" [src]="bid.product_image" alt="product">
                              </div>
                            </div>
                            <div class="p-col-9">
                              <div class="p-grid">
                                <div class="p-col-12">
                                  <div class="bids__open__item p-col text--left">
                                    <span class="bids__open__text text--medium text--bold">
                                      {{bid.product_name}}
                                    </span>
                                  </div>
                                </div>
                                <div class="p-col-12">
                                  <div class="bids__open__item p-col text--left">
                                    <span class="bids__open__text">
                                      {{bid.number_of_slot}} slot{{bid.number_of_slot > 1 ? 's' : ''}}
                                    </span>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="bids__open__item p-pt-5">
                      <a [routerLink]="['/dashboard/bids']" class="bids__open__text bids__open__link">See all transactions</a>
                    </div>
                  </ng-container>
                  <ng-template #noHistory>
                    <div class="text--center bids__open__none">
                      <p class="bids__open__none__text">No open bids</p>
                    </div>
                  </ng-template>
                </ng-container>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<p-dialog [(visible)]="displayTransferModal" styleClass="transfer-modal" [modal]="true" [style]="{width: '35rem'}"
  [baseZIndex]="10000" [draggable]="false" [resizable]="false" (onHide)="resetModal()">
  <div class="modal-content p-px-1 p-mt-2">
    <h4 class="text--regular text--center p-mb-5">Enter how amount to transfer to wallet</h4>
    <form [formGroup]="transferFundsForm" (ngSubmit)="transferFunds(transferFundsForm.value)">
      <div class="p-fluid">
        <div class="p-field form__item">
          <label for="amount" class="form__label text--capital">amount</label>
          <input type="text" class="form__input form__input--lg" formControlName='amount' pKeyFilter="num">
          <ng-container
            *ngIf="(formControls.amount.dirty || formControls.amount.touched) && formControls.amount.errors">
            <span *ngIf="formControls.amount.errors.required" class="p-invalid p-mb-2 p-d-block p-px-2">Enter
              amount</span>
          </ng-container>
        </div>
        <ng-container *ngIf="transferFundsForm.errors && transferFundsForm.errors.badRequest">
          <div class="p-field form__item">
            <span class="p-invalid p-my-2 p-d-block">
              {{transferFundsForm.errors.badRequest}}
            </span>
          </div>
        </ng-container>
        <div class="p-field form__item">
          <button [disabled]="isTransferring" type="submit"
            class="button button--secondary button--raised text--capital button--wide">
            <i *ngIf="isTransferring" class="pi pi-spin pi-spinner p-mr-2"></i>
            {{isTransferring ? 'please wait' : 'transfer'}}
          </button>
        </div>
      </div>
    </form>
  </div>
</p-dialog>

<p-dialog [(visible)]="displayPromoModal" styleClass="transfer-modal" [modal]="true" [style]="{width: '32rem'}"
  [baseZIndex]="10000" [draggable]="false" [resizable]="false" (onHide)="resetPromoModal()">
  <div class="modal-content p-px-1 p-mt-2">
    <h4 class="text--regular text--center p-mb-5">Enter promo code</h4>
    <form [formGroup]="promoCodeForm" (ngSubmit)="redeemPromoCode(promoCodeForm.value)">
      <div class="p-fluid">
        <div class="p-field form__item">
          <label for="code" class="form__label text--capital">code</label>
          <input type="text" class="form__input form__input--lg" formControlName='code'>
          <ng-container
            *ngIf="(promoFormControls.code.dirty || promoFormControls.code.touched) && promoFormControls.code.errors">
            <span *ngIf="promoFormControls.code.errors.required" class="p-invalid p-mb-2 p-d-block p-px-2">Enter promo
              code</span>
          </ng-container>
        </div>
        <ng-container *ngIf="promoCodeForm.errors && promoCodeForm.errors.badRequest">
          <div class="p-field form__item">
            <span class="p-invalid p-my-2 p-d-block">
              {{promoCodeForm.errors.badRequest}}
            </span>
          </div>
        </ng-container>
        <div class="p-field form__item">
          <button [disabled]="isAdding" type="submit"
            class="button button--secondary button--raised text--capital button--wide">
            <i *ngIf="isAdding" class="pi pi-spin pi-spinner p-mr-2"></i>
            {{isAdding ? 'please wait' : 'add'}}
          </button>
        </div>
      </div>
    </form>
  </div>
</p-dialog>

<p-dialog [(visible)]="displayFundModal" styleClass="transfer-modal" [modal]="true" [style]="{width: '32rem'}"
  [baseZIndex]="10000" [draggable]="false" [resizable]="false" (onHide)="resetFundModal()">
  <div class="modal-content p-px-1 p-mt-2">
    <!-- <div>
      <p class="text--regular">As we are currently experiencing a downtime with the flutterwave payment system please make a transfer to the account details below and use your BUBA account name as payment reference/narration for quick resolution </p>
                    <div class="p-my-4 p-mx-2">
                      <p class="text--regular-alt mt1 text--upper"><strong>Zenith Bank</strong></p>
                      <p class="text--regular-alt mt1 text--upper"><strong>1017600964</strong></p>
                      <p class="text--regular-alt mt1 text--upper"><strong>Luckyjaka Nig ltd</strong></p>
                    </div>
                    <p class="text--regular mt2">You can also call <a class="text--primary" href="tel:+2349066327164">+2349066327164</a> for payment verification</p>
    </div> -->
    <h4 class="text--regular text--center p-mb-5">Enter how much you want to fund</h4>
    <form [formGroup]="fundWalletForm" (ngSubmit)="makePayment(fundWalletForm.value)">
      <div class="p-fluid">
        <div class="p-field form__item">
          <label for="amount" class="form__label text--capital">amount</label>
          <input type="text" id="amount" formControlName='amount' pKeyFilter="num" class="form__input form__input--lg">
          <ng-container
            *ngIf="(fundWalletFormControls.amount.dirty || fundWalletFormControls.amount.touched) && fundWalletFormControls.amount.errors">
            <span *ngIf="fundWalletFormControls.amount.errors.required" class="p-invalid p-mb-2 p-d-block p-px-2">Enter
              Amount</span>
            <span *ngIf="fundWalletFormControls.amount.errors.min" class="p-invalid p-mb-2 p-d-block p-px-2">Minimum is
              ₦100.00</span>
          </ng-container>
        </div>
        <ng-container *ngIf="fundWalletForm.errors && fundWalletForm.errors.badRequest">
          <div class="p-field form__item">
            <span class="p-invalid p-my-2 p-d-block">
              {{fundWalletForm.errors.badRequest}}
            </span>
          </div>
        </ng-container>
        <div class="p-field form__item">
          <button [disabled]="isPaying" type="submit"
            class="button button--secondary button--raised text--capital button--wide">
            <i *ngIf="isPaying" class="pi pi-spin pi-spinner p-mr-2"></i>
            {{isPaying ? 'please wait' : 'fund wallet'}}
          </button>
        </div>
      </div>
    </form>
  </div>
</p-dialog>

<p-dialog [(visible)]="displayLoyaltyTransferModal" styleClass="transfer-modal" [modal]="true"
  [style]="{width: '35rem'}" [baseZIndex]="10000" [draggable]="false" [resizable]="false"
  (onHide)="resetLoyaltyTransferModal()">
  <div class="modal-content p-px-1 p-mt-2">
    <h4 class="text--regular text--center p-mb-5">Enter how amount to transfer to wallet</h4>
    <form [formGroup]="loyaltyTransferForm" (ngSubmit)="loyaltyTransferFunds(loyaltyTransferForm.value)">
      <div class="p-fluid">
        <div class="p-field form__item">
          <label for="amount" class="form__label text--capital">amount</label>
          <input type="text" class="form__input form__input--lg" formControlName='amount' pKeyFilter="num">
          <ng-container
            *ngIf="(loyaltyTransferFormControls.amount.dirty || loyaltyTransferFormControls.amount.touched) && loyaltyTransferFormControls.amount.errors">
            <span *ngIf="loyaltyTransferFormControls.amount.errors.required"
              class="p-invalid p-mb-2 p-d-block p-px-2">Enter amount</span>
          </ng-container>
        </div>
        <ng-container *ngIf="loyaltyTransferForm.errors && loyaltyTransferForm.errors.badRequest">
          <div class="p-field form__item">
            <span class="p-invalid p-my-2 p-d-block">
              {{loyaltyTransferForm.errors.badRequest}}
            </span>
          </div>
        </ng-container>
        <div class="p-field form__item">
          <button [disabled]="isTransferring" type="submit"
            class="button button--secondary button--raised text--capital button--wide">
            <i *ngIf="isTransferring" class="pi pi-spin pi-spinner p-mr-2"></i>
            {{isTransferring ? 'please wait' : 'transfer'}}
          </button>
        </div>
      </div>
    </form>
  </div>
</p-dialog>

<p-dialog [(visible)]="displayLoyaltyWithdrawModal" styleClass="transfer-modal" [modal]="true"
  [style]="{width: '35rem'}" [baseZIndex]="10000" [draggable]="false" [resizable]="false"
  (onHide)="resetLoyaltyWithdrawModal()">
  <div class="modal-content p-px-1 p-mt-2">
    <h4 class="text--regular text--center p-mb-5">Please complete form to proceed</h4>
    <form [formGroup]="loyaltyWithdrawForm" (ngSubmit)="loyaltyWithdrawFunds(loyaltyWithdrawForm.value)">
      <div class="p-fluid">
        <div class="p-field form__item">
          <label for="amount" class="form__label text--capital">amount</label>
          <input autocomplete="new-password" type="number" class="form__input form__input--lg" formControlName='amount'
            pKeyFilter="num">
          <ng-container
            *ngIf="(loyaltyWithdrawFormControls.amount.dirty || loyaltyWithdrawFormControls.amount.touched) && loyaltyWithdrawFormControls.amount.errors">
            <span *ngIf="loyaltyWithdrawFormControls.amount.errors.required"
              class="p-invalid p-mb-2 p-d-block p-px-2">Enter amount</span>
          </ng-container>
        </div>
        <div class="p-field form__item">
          <label for="amount" class="form__label text--capital">For Security Reasons, Please Enter Your Password</label>
          <input type="password" class="form__input form__input--lg" formControlName='password'>
          <ng-container
            *ngIf="(loyaltyWithdrawFormControls.password.dirty || loyaltyWithdrawFormControls.password.touched) && loyaltyWithdrawFormControls.password.errors">
            <span *ngIf="loyaltyWithdrawFormControls.password.errors.required"
              class="p-invalid p-mb-2 p-d-block p-px-2">Enter password</span>
          </ng-container>
        </div>
        <ng-container *ngIf="loyaltyWithdrawForm.errors && loyaltyWithdrawForm.errors.badRequest">
          <div class="p-field form__item">
            <span class="p-invalid p-my-2 p-d-block">
              {{loyaltyWithdrawForm.errors.badRequest}}
            </span>
          </div>
        </ng-container>
        <div class="p-field form__item">
          <button [disabled]="isWithdrawing" type="submit"
            class="button button--secondary button--raised text--capital button--wide">
            <i *ngIf="isWithdrawing" class="pi pi-spin pi-spinner p-mr-2"></i>
            {{isWithdrawing ? 'please wait' : 'transfer'}}
          </button>
        </div>
      </div>
    </form>
  </div>
</p-dialog>

<p-dialog [(visible)]="displayAccountModal" styleClass="transfer-modal" [modal]="true"
  [style]="{width: '35rem'}" [baseZIndex]="10000" [draggable]="false" [resizable]="false">
  <div class="modal-content p-px-1 p-mt-2">
    <h4 class="text--regular text--center p-mb-5">Make a transfer to the account details</h4>
    <div>
      <div class="p-grid p-py-1">
        <div class="p-col-12">
          <div class="p-py-2">
            <span class="text--capital p-d-inline-block text--regular">bank name: </span>
          <strong class="p-ml-1 text--700 text--capital p-d-inline-block text--regular">
            {{userdetails && userdetails.payment_bank_name? userdetails.payment_bank_name : 'N/A'}}
          </strong>
          </div>
         <div class="p-py-2">
           <span class="text--capital p-d-inline-block text--regular">
            account name:
           </span>
          <strong class="p-ml-1 text--700 text--capital p-d-inline-block text--regular">
            {{userdetails && userdetails.payment_account_name ? userdetails.payment_account_name : 'N/A'}}
          </strong>
         </div>
         <div class="p-py-2">
           <span class="text--capital p-d-inline-block text--regular">account number:</span>
           <strong class="p-ml-1 text--700 text--capital p-d-inline-block text--regular">
            {{userdetails && userdetails.payment_account_number ? userdetails?.payment_account_number : 'N/A'}}
          </strong>
         </div>
        </div>
      </div>
    </div>
  </div>
</p-dialog>