 <ng-container *ngIf="bidInfo">
   <div class="p-grid animate__animated animate__faster" [ngClass]="animation">
     <div class="p-col-12 p-sm-5">
       <div class="bid">
         <img class="bid--img" [src]="bidInfo.bid_list.product_image" alt="product image">
       </div>
     </div>
     <div class="p-col-12 p-sm-7">
       <div class="bid_info">
         <span class="bid_info--heading">
           {{bidInfo.bid_list.product_name}}
         </span>
         <span class="bid_info--amount">
           {{(bidInfo.bid_list.bid_prize ? bidInfo.bid_list.bid_prize : 0) | currency : '₦ '}}
         </span>

         <a class="text--primary text--underline p-d-block text--regular text--capital p-d-block p-mt-2 p-py-2" (click)="showHowToModal()">
           how it works
         </a>
         <div class="bid_info_type">
           <div class="bid_info_type-content bid_info_type--left">
             <p class="bid_info_type-content--text">
               For complete bids, the top winner takes the item.
               <br>
               <br>
               For incomplete bids, one winner is selected through the same process as the completed game, then <strong>70%</strong> of the total bid amount is given to selected winner
             </p>
           </div>
         </div>
         <div class="p-text-center text--small">
           <p>Bid ends on <span class="text--bold">{{bidInfo.bid_details.end_date | customeDate: "MMM DD, YYYY. h:mm:ss a"}}</span></p>
         </div>
         <div class="bid_info_auction">
           <div class="p-field">
             <label>bid status</label>
             <p-progressBar [value]="getBidProgressValue(bidInfo.bid_details.start_date, bidInfo.bid_details.end_date)" [showValue]="false" [style]="{'height': '6px'}">
             </p-progressBar>
             <div class="p-mt-2 p-mb-1 text--right" *ngIf="bidInfo.slot_left">
               <span class="p-d-inline-block text--small text--tertiary">{{bidInfo?.slot_left.toLocaleString()}} slots left</span>
             </div>
           </div>
           <div class="p-grid">
             <div class="p-col-7">
               <span class="bid_info_auction--title">Number of bids</span>
             </div>
             <div class="p-col-5">
               <p-inputNumber inputStyleClass="w-100 bid__number" [(ngModel)]="quantity" mode="decimal"
                 [showButtons]="true" [min]="1" [max]="bidInfo?.slot_left" (onInput)="changeQty($event)">
               </p-inputNumber>
             </div>
           </div>
           <div *ngIf="maxError" class="text--right">
            <span class="p-d-inline-block text--small text--tertiary">Number of bids can't be more than {{bidInfo?.slot_left.toLocaleString()}}</span>
          </div>
           <div class="p-grid">
             <div class="p-col-7">
               <span class="bid_info_auction--title">amount</span>
             </div>
             <div class="p-col-5">
               <span class="bid_info_auction--subdetails">
                 {{(totalAmount ?  totalAmount : (bidInfo.bid_list.bid_prize * quantity)) | currency : '₦'}}
               </span>
             </div>
           </div>
         </div>
         <div class="p-text-right">
           <button type="button" (click)="makeBid()" [disabled]="processing || maxError"
             class="button button--wider button--noborder button--secondary button--raised text--upper">
             <i *ngIf="processing" class="pi pi-spin pi-spinner p-mr-2"></i>
             {{processing ? 'please wait' : 'bid'}}
           </button>
         </div>
       </div>
     </div>
   </div>
 </ng-container>


 <p-dialog header="How It Works" [(visible)]="howToModal" [modal]="true" styleClass="more-details-modal"
   [baseZIndex]="10000">
   <div class="modal-content">
     <div class="howto">
      <p class="text--regular">
        Buba is Nigeria’s largest e-commerce platform that allows you easy access to a wide range of quality products
        including but not limited to electronics, mobile phones, Play stations, computers, fashion, kitchen utensils, and
        cash bid_prizes from trusted and premium brands with as low as <strong>₦50</strong>. Every product has an allocated
        number of bid slot and a closing bid time, each bid slot is sold for <strong>N50</strong>.
      </p>
      <br>
      <p class="text--regular">
        At the close of every deal time, if the total number of bid slot available was bought, we have a completed bid
        and if the total number of bid slot sold for that item is not equal to the total number of slots, we have an
        incomplete bid.
      </p>
      <br>
      <p class="text--regular">
        When the bid is completed, five winners are selected, the top winner announced takes the prized item while the
        total bid amount is shared amongst the other four winners in the following proportion: 25%, 15%, 10%, 6%
        respectively. However, for incomplete bids, five winners are also selected, and the total bid amount is shared
        amongst the five winners in the following proportion: 30%, 10%, 10%, 10%, 10% respectively.
      </p>
      <br>
      <p class="text--regular">
        The more bid slots you buy for an item, the higher your chance of winning!
      </p>
      <br>
      <br>
      <div>
        <h4 class="howto__heading">
          How to Bid
        </h4>
        <ol class="howto__instructions">
          <li class="text--regular">
            Search or select the item you want in order to view the product description page.
          </li>
          <li class="text--regular">
            Select the <strong>‘bid now’</strong> option to proceed to the bid checkout page
          </li>
          <li class="text--regular">
            On the bid checkout page, provide the number of bid you want to buy and proceed.
          </li>
          <li class="text--regular">
            If you are a new user, you will be asked to create an account and given the option to fund your wallet.
            However, if you are an existing user, you will be asked to login to finalize your bid.
          </li>
          <li class="text--regular">
            After the closing time for the bid elapse, your win status is communicated with you via email and SMS to
            your registered phone number.
          </li>
        </ol>
      </div>
     </div>
   </div>
   <ng-template pTemplate="footer">
     <p-button icon="pi pi-check" (click)="howToModal=false" label="Okay" styleClass="text--regular"></p-button>
   </ng-template>
 </p-dialog>
