 <ng-container *ngIf="bidInfo">
   <div class="p-grid animate__animated animate__faster" [ngClass]="animation">
     <div class="p-col-12 p-sm-5">
       <div class="bid">
         <img class="bid--img" [src]="bidInfo.bid_list.product_image" alt="product image">
       </div>
     </div>
     <div class="p-col-12 p-sm-7">
       <div class="bid_info">
         <span class="bid_info--heading">
           {{bidInfo.bid_list.product_name}}
         </span>
         <span class="bid_info--amount">
           {{(bidInfo.bid_details.price ? bidInfo.bid_details.price : 0) | currency : '₦ '}}
         </span>
         <div class="bid_info_type">
           <div class="bid_info_type-content bid_info_type--left">
             <p class="bid_info_type-content--text">
               For complete bids, the top winner takes the item while the total bid amount is shared amongst the other
               four winners in the following proportion :
               <span class="p-d-inline-block text--bold">
                 {{getTotalBidsAmount(25) | currency : '₦ '}}
               </span>,
               <span class="p-d-inline-block text--bold">
                 {{getTotalBidsAmount(15) | currency : '₦ '}}
               </span>,
               <span class="p-d-inline-block text--bold">
                 {{getTotalBidsAmount(10) | currency : '₦ '}}
               </span> and <span class="p-d-inline-block text--bold">
                 {{getTotalBidsAmount(6) | currency : '₦ '}}
               </span> respectively.
               <br>
               <br>
               For incomplete bids, the total bid amount is shared amongst the five winners in the following proportion
               :
               <span class="p-d-inline-block text--bold">
                 30%
               </span>,
               <span class="p-d-inline-block text--bold">
                 10%
               </span>,
               <span class="p-d-inline-block text--bold">
                 10%
               </span>,
               <span class="p-d-inline-block text--bold">
                 10%
               </span> and <span class="p-d-inline-block text--bold">
                 10%
               </span> respectively.
             </p>
           </div>
         </div>
         <div class="p-text-center">
           <p>Bid ends on <span class="text--bold">{{bidInfo.bid_details.end_date | date: 'medium'}}</span></p>
         </div>
         <div class="bid_info_auction">
           <div class="p-field">
             <label>bid status</label>
             <p-progressBar [value]="getBidProgressValue()" [showValue]="false" [style]="{'height': '6px'}">
             </p-progressBar>
           </div>
           <div class="p-grid">
             <div class="p-col-7">
               <span class="bid_info_auction--title">Number of bids</span>
             </div>
             <div class="p-col-5">
               <p-inputNumber inputStyleClass="w-100 bid__number" [(ngModel)]="quantity" mode="decimal"
                 [showButtons]="true" [min]="1" (onInput)="changeQty($event)">
               </p-inputNumber>
             </div>
             <!-- <div class="p-col-12 winning">
              <span class="winning__item text--bold">
                Chances of winning: <span class="winning__percent">{{chanceOfWinning}}%</span>
            </span>
            </div> -->
           </div>
           <div class="p-grid">
             <div class="p-col-7">
               <span class="bid_info_auction--title">amount</span>
             </div>
             <div class="p-col-5">
               <span class="bid_info_auction--subdetails">
                 {{(totalAmount ?  totalAmount : (bidInfo.bid_details.price * quantity)) | currency : '₦'}}
               </span>
             </div>
           </div>
         </div>
         <div class="p-text-right">
           <button type="button" (click)="makeBid()" [disabled]="processing"
             class="button button--wider button--noborder button--secondary button--raised text--upper">
             <i *ngIf="processing" class="pi pi-spin pi-spinner p-mr-2"></i>
             {{processing ? 'please wait' : 'bid'}}
           </button>
         </div>
       </div>
     </div>
   </div>
 </ng-container>

