@import '../../styles/abstract/variables';

.home {
  min-height: calc(100vh);
  background-image: url('/assets/img/banner-mobile.webp');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;

  @media all and (min-width: 992px) {
    background-image: url('/assets/img/banner.webp');
    background-position: bottom center;
  }
  
}
