<section>
  <a [routerLink]="['/lobby']" >
    <div class="home">
      <!-- <div class="container">
       <div class="p-grid p-nogutter">
         <div class="p-col-5 p-mr-auto">
             <div>
               <button>a</button>
               <button>a</button>
               <button>a</button>
               <button>a</button>
               <button>a</button>
             </div>
         </div>
       </div>
      </div> -->
      <!-- <div class="container">
        <button class="button button--primary button--lg">Click here to play</button>
      </div> -->
     </div>
  </a>
</section>
<app-footer></app-footer>
