<div class="newwithdraw">
  <div class="card">
      <div class="card__body">
        <div class="withdrawal__container">
            <div class="pageheader">
              <h1 class="pageheader__title text--capital">
                withdrawals
              </h1>
              <span class="pageheader__subtitle text--capital">
                  your withdrawal history
              </span>
            </div>
            <div class="pagebody withdrawal__body">
              <div class="p-grid">
                <div class="p-col-12 withdrawal__body__new">
                  <a role="button" [routerLink]="['/withdrawals/new']"
                    class="button button--secondary button--raised button--wider button--lg text--capital">new withdrawal</a>
                </div>
                <div class="p-col-12 withdrawal__body__history">
                  <div class="table__container">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>S/No</th>
                          <th>Withdrawal Date</th>
                          <th>Amount</th>
                          <th>Reference</th>
                        </tr>
                      </thead>
                      <tbody>
                       <ng-container *ngIf="withdrawalHistory && withdrawalHistory.length">
                        <tr *ngFor="let withdrawal of withdrawalHistory; let i = index">
                            <td>{{i + 1}}</td>
                            <td>{{withdrawal.created_at}}</td>
                            <td class="no-wrap">{{withdrawal.amount |currency: '₦ '}}</td>
                            <td>{{withdrawal.reference}}</td>
                          </tr>
                       </ng-container>
                       <ng-container *ngIf="withdrawalHistory && !withdrawalHistory.length">
                        <tr>
                            <td colspan="4">
                             <p class="p-p-4 text--center text--capital">
                               {{errorMsg}}
                              </p>
                            </td>
                           </tr>
                       </ng-container>
                      </tbody>
                    </table>
                  </div>
                  <ng-container >
                    <div class="p-flex p-mt-3 text--right">
                      <button class="button p-mx-1 button--secondary text--capital" (click)="goPrevious()">
                        previous
                      </button>
                      <button class="button p-mx-1 button--secondary text--capital" (click)="goNext()">
                        next
                      </button>
                    </div>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>
      </div>
  </div>
</div>
