/*basic reset*/
@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');
@import '../abstract/variables';


*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;

  @media only screen and (max-width: 600px) {
    font-size: 50%;
  }

}

body {
  box-sizing: border-box;
  // font-family: 'Heebo', sans-serif;
  font-family: 'Josefin Sans', sans-serif;
  font-style: normal;
  line-height: 1.2;
  font-size: 14px;
}

a {
  // color: inherit !important;
  transition: all .2s ease-out;

  &:hover {
    // text-decoration: none !important;
    // color: //TODO;
  }

  &.btn:hover {
    text-decoration: none;
  }

  &:visited {
    // color: #F58634;
  }
}

p {
  margin: 0;
}

input,
select {
  font-family: inherit;
  border-image: none;
  outline: none;
  background: transparent;
  font-size: 16px;
}


html,
body {
  background-color: $color-off-black;
  margin: 0 auto;
}

.vh-100 {
  min-height: 100vh;
}

.h-100 {
  height: 100%;
}

.isDisabled {
  pointer-events: none;
  opacity: .7;
}

.w-100 {
  width: 100%;
}

.p-progressbar-value {
  background-color: $color-primary !important;
}

.p-inputnumber-button-up,
.p-inputnumber-button-down {
  background-color: $color-primary !important;
  border: none !important;

}

.p-togglebutton.p-button.p-highlight {
  background-color: $color-primary !important;
  color: white !important;
  border: none;
}

.p-inputnumber {
  width: 100%;
  font-size: 16px;
}

.p-inputtext{
  font-size: 16px;
}

.bid__number.p-inputtext{
  font-size: 1.25rem !important;
}

.p-sidebar-left {
  top: 6rem !important;
  width: 30rem !important;
  height: calc(100vh - 6rem) !important;
  overflow: auto;
}

.bank-dropdown.p-dropdown {
  padding: .275rem .25rem;

  .p-dropdown-label {
    font-size: 1.4rem;
    color: #000000;
  }

  .p-dropdown-items-wrapper {
    color: #000000;

    .p-dropdown-item {
      padding: 1rem;
      text-transform: uppercase;
      font-size: 1.25rem;
      white-space: pre-wrap;
    }

  }
}

.p-datatable-lg .p-datatable-thead {
  font-size: 1.5rem;
}

.p-datatable-lg .p-datatable-tbody {
  font-size: 1.25rem !important;
}

.withdrawal_input {
  .p-inputnumber-input {
    font-size: 16px !important;
    padding: .75rem !important;
  }
}

.p-invalid{
  font-size: $font-size-semi-small;
}

.more-details-modal{
  width: 90%;
  .modal-content{
    font-size: $font-size-regular;
    line-height: 1.3;
  }
  .p-dialog-title {
    font-size: 1.5rem !important;
  }
  .p-dialog-titlebar-icon{
    font-size: 1.5rem !important;
  }
  @media all and (min-width: 768px) {
    width: 30% 
  }
}