<div class="settings">
    <div class="settings__container">
      <div class="pageheader">
        <h1 class="pageheader__title text--capital">
            settings
          </h1>
      </div>
      <div class="pagebody settings__body">
        <div class="p-grid">
          <div class="p-col-3 p-d-none p-d-md-inline-block settings__body__left">
            <div class="settings__nav">
                <a class="settings__nav__item" [routerLink]="['profile-edit']" routerLinkActive="active" >
                    edit profile
                </a>
                <a class="settings__nav__item" [routerLink]="['change-password']" routerLinkActive="active">
                    change password
                </a>
                <a class="settings__nav__item" [routerLink]="['id-card']" routerLinkActive="active">
                    add id card
                </a>
                <a class="settings__nav__item" [routerLink]="['bank-account']" routerLinkActive="active">
                    add bank account
                </a>
            </div>
          </div>
          <div class="p-col-12 p-md-8 p-mx-auto settings__body__right">
           <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </div>
  